<div class="modal-header">
    <div *ngIf="kundenNummer; else email">
        <h5 class="modal-title">Auftrag abschließen für Kundennummer: <strong>{{ kundenNummer }}</strong></h5>
    </div>
    <ng-template #email>
        <h5 class="modal-title">Auftrag abschließen mit E-Mail: <strong>{{ data.auftragbestEmail }}</strong></h5>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>


</div>
<div class="modal-body">
    <div class="container">
        <div class="row pt-3">
            <div class="col-sm">
                <h5 class="heading_modal">Absender</h5>
                <div class="row">
                    <div class="col-5"><strong>Firma / Name:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absFirma }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Adresse:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absAdresse }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Land:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absLand }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Postleizahl:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absPlz }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Ort:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absOrt }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Telefon:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.absTel }}</span></div>
                </div>
            </div>
            <div class="col-sm">
                <h5 class="heading_modal">Empfänger</h5>

                <div class="row">
                    <div class="col-5"><strong>Firma / Name:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfFirma }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Adresse:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfAdresse }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Land:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfLand }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Postleizahl:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfPlz }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Ort:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfOrt }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Telefon:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ data.empfTel }}</span></div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                <h5 class="heading_modal">Zusammenfassung</h5>
                <strong><h6>Sendungsinformationen</h6></strong>
                <div class="row padding-left">
                    <div class="col-4"><strong>Wert der Sendung:</strong></div>
                    <div class="col-8 ">{{ data.sendungsdatenWert }} €</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4"><strong>Gewicht der Sendung:</strong></div>
                    <div class="col-8">{{ data.sendungsdatenGewicht }},00 kg</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4"><strong>Art der Ware:</strong></div>
                    <div class="col-8">{{ data.sendungsdatenArt }}</div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h6>Versandinformationen</h6>
                <div class="row padding-left">
                    <div class="col-4"><strong>Abholdatum:</strong></div>
                    <div class="col-8">{{ data.abholDatum | date:'dd.MM.yy' }}</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        <strong>
                            Zustelltermin:
                        </strong>
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="data.zustellTermin === 'Standardzustellungstermin'">Standardtermin (zwischen 09:00 -
                            17:00
                            Uhr)
                        </div>
                        <div *ngIf="data.zustellTermin === '9'">Termin um 09:00 Uhr</div>
                        <div *ngIf="data.zustellTermin === '10'">Termin um 10:00 Uhr</div>
                        <div *ngIf="data.zustellTermin === '12'">Termin um 12:00 Uhr</div>
                        <div *ngIf="data.zustellTermin === 'fixtermin'"> Fixtermin um {{ data.fixtermin }} Uhr</div>

                    </div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        <strong>
                            Zustellungsart:
                        </strong>
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="data.sonderdienst === 'Standardzustellung'">Standard</div>
                        <div *ngIf="data.sonderdienst === 'persoenlich'">Persönlich</div>
                        <div *ngIf="data.sonderdienst === 'persoenlichIdent'">Persönlich mit Identifikation</div>

                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h6>Auftragsbestätigung und Rechnungs</h6>
                <div class="row padding-left">
                    <div class="col-4"><strong>E-Mail:</strong></div>
                    <div class="col-8"> {{ data.auftragbestEmail || email }}</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        <strong>
                            Telefon:
                        </strong>
                    </div>

                    <div class="col-8">
                        {{ data.auftragbestTelefon}}
                    </div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        <strong>
                            Rechnungsadresse:
                        </strong>
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="data.auftragsbestRechnungsadresse === 'absender'">Wie Absender ({{ data.absFirma
                            }})
                        </div>
                        <div *ngIf="data.auftragsbestRechnungsadresse === 'empfeanger'">Wie Empfänger ({{ data.empfFirma
                            }})
                        </div>

                        <div *ngIf="data.auftragsbestRechnungsadresse === 'manuell'">
                            {{ data.rechnungName }}
                            <br>
                            {{ data.rechnungAdresse}}
                            <br>
                            {{ data.rechnungPlz}}
                            <br>
                            {{ data.rechnungOrt}}
                            <br>
                            {{ data.rechnungTel}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Schließen</button>
    <button type="button" class="btn btn-success" (click)="sendData(data)" autofocus>Auftrag abschließen
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="$httpLoader.isLoading | async"></span>
    </button>
</div>