<div class="container">
    <div class="row pt-5">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <img src="../../../../assets/images/user.png" height="24" width="24"/>
                    <strong>Benutzer</strong>
                </div>
                <div class="card-body">
                    <form #f="ngForm" name="form" (ngSubmit)="onUpdate(f)" novalidate>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="vorname">Vorname</label>
                                        <input type="text" class="form-control" id="vorname" name="vorname"
                                               [(ngModel)]="sessionVorname"
                                               #vorname="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && vorname.invalid }"
                                               maxlength="255"
                                               required>
                                        <div *ngIf="f.submitted && vorname.invalid" class="invalid-feedback">
                                            <div *ngIf="vorname.errors.required">Vorname wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="nachname">Nachname</label>
                                        <input type="text" class="form-control" id="nachname" name="nachname"
                                               [(ngModel)]="sessionNachname"
                                               #nachname="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && nachname.invalid }"
                                               maxlength="255"
                                               required>
                                        <div *ngIf="f.submitted && nachname.invalid" class="invalid-feedback">
                                            <div *ngIf="nachname.errors.required">Nachname wird benötigt</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="firmenname">Firmenname</label>
                                        <input type="text" class="form-control" id="firmenname" name="firmenname"
                                               [(ngModel)]="sessionFirmenName"
                                               #firmenname="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && firmenname.invalid }"
                                               maxlength="255"
                                               required>
                                        <div *ngIf="f.submitted && firmenname.invalid" class="invalid-feedback">
                                            <div *ngIf="firmenname.errors.required">Firmenname wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="kundennummer">Kundennummer</label>
                                        <input type="text" class="form-control" id="kundennummer" name="kundennummer"
                                               [(ngModel)]="sessionKundenNummer"
                                               #kundennummer="ngModel"
                                               disabled
                                               [ngClass]="{ 'is-invalid': f.submitted && kundennummer.invalid }"
                                               pattern="[0-9]{5}"
                                               maxlength="5"
                                               required>
                                        <div *ngIf="f.submitted && kundennummer.invalid" class="invalid-feedback">
                                            <div *ngIf="kundennummer.errors.required">Kundennummer wird benötigt</div>
                                            <div *ngIf="kundennummer.errors.pattern">Bitte sie Ihre 5 stellige
                                                Kundennummer ein.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vorname">E-Mail</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                           [(ngModel)]="sessionEmail"
                                           #email="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                           maxlength="255"
                                           disabled
                                           email
                                           required>
                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors.required">E-Mail wird benötigt</div>
                                        <div *ngIf="email.errors.email">Bitte geben Sie eine gültige E-Mail ein</div>
                                    </div>
                                </div>
                                <hr>
                                <h5>Standardauftragsdaten</h5>
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="adresse">Adresse</label>
                                        <input type="text" class="form-control" id="adresse" name="adresse"
                                               [(ngModel)]="sessionAdresse"
                                               #adresse="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && adresse.invalid }"
                                               maxlength="255"
                                        >

                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="ort">Ort</label>
                                        <input type="text" class="form-control" id="ort"
                                               name="ort"
                                               [(ngModel)]="sessionOrt"
                                               #ort="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && ort.invalid }"
                                               maxlength="255"
                                        >

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="zusatz">Zusatz</label>
                                        <input type="text" class="form-control" id="zusatz" name="zusatz"
                                               [(ngModel)]="sessionZusatz"
                                               #zusatz="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && adresse.invalid }"
                                               maxlength="255">
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="ansprechpartner">Ansprechpartner</label>
                                        <input type="text" class="form-control" id="ansprechpartner"
                                               name="ansprechpartner"
                                               [(ngModel)]="sessionAnsprechpartner"
                                               #ansprechpartner="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && ansprechpartner.invalid }"
                                               maxlength="255">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="plz">Plz</label>
                                        <input type="text" class="form-control" id="plz" name="plz"
                                               [(ngModel)]="sessionPlz"
                                               #plz="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && plz.invalid }"
                                               minlength="5"
                                               maxlength="5"
                                               pattern="[0-9]{5}">
                                        <div *ngIf="f.submitted && plz.invalid" class="invalid-feedback">
                                            <div *ngIf="plz.errors.pattern">PLZ muss mindestens 5 Zeichen enthalten
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="land">Land</label>
                                        <select id="land"
                                                class="form-control"
                                                [(ngModel)]="sessionLand"
                                                name="land"
                                                #land="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && land.invalid }"
                                        >
                                            <option value="Deutschland" selected>Deutschland</option>
                                            <option value="Österreich">Österreich</option>
                                            <option value="Schweiz">Schweiz</option>
                                        </select>
                                        <div *ngIf="f.submitted && land.invalid"
                                             class="invalid-feedback">
                                            <div *ngIf="land.errors.required">Land wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="telefon">Telefon</label>
                                        <input type="text" class="form-control" id="telefon"
                                               name="telefon"
                                               [(ngModel)]="sessionTelefon"
                                               #telefon="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && telefon.invalid }"
                                               maxlength="255"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm vertical-horizontal-center">
                                <p-messages [(value)]="msgs" [closable]="true"></p-messages>
                            </div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-sm vertical-horizontal-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!f.dirty">Speichern
                                    <span class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"
                                          *ngIf="$httpLoader.isLoading | async"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <strong>Erstellte Aufträge</strong>
                </div>
                <div class="card-body">
                    <p-table
                            [value]="$dasboardService.orders$ | async"
                            [paginator]="true"
                            [rows]="15"
                            selectionMode="single"
                            [(selection)]="selectedCar"
                            sortMode="multiple"
                            (onRowSelect)="onRowSelect($event)">
                        <ng-template pTemplate="header">
                            <tr style="text-align: center">
                                <th [pSortableColumn]="'identificationNumber'">
                                    Versand Nummer
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'rechnungsDaten.email'">
                                    Rechnungs Empfänger
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'absender.firma'">
                                    Absender
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'empfaenger.firma'">
                                    Empfänger
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'abholTermin.datum'">Abholdatum
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'sendungsdaten.art'">WaffenArt
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'sendungsdaten.wert'">Warenwert
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'sendungsdaten.gewicht'">Warengewicht
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr style="text-align: center;" [pSelectableRow]="order">
                                <td>{{order.createdAt}}</td>
                                <td>{{order.rechnungsDaten.email}}</td>
                                <td>{{order.absender.firma}}</td>
                                <td>{{order.empfaenger.firma}}</td>
                                <td>{{order.abholTermin.datum}}</td>
                                <td>{{order.sendungsdaten.art}}</td>
                                <td>{{order.sendungsdaten.wert}}</td>
                                <td>{{order.sendungsdaten.gewicht}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [header]="header" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          width="800">
    <div class="container" *ngIf="order">
        <div class="row">
            <div class="col-sm">
                <h5 class="heading_modal">Absender</h5>
                <div class="row">
                    <div class="col-5"><strong>Firma / Name:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.firma }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Adresse:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.adresse }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Land:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.land }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Postleizahl:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.plz }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Ort:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.ort }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Telefon:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.absender.telefon }}</span></div>
                </div>
            </div>
            <div class="col-sm">
                <h5 class="heading_modal">Empfänger</h5>

                <div class="row">
                    <div class="col-5"><strong>Firma / Name:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.firma }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Adresse:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.adresse }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Land:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.land }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Postleizahl:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.plz }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Ort:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.ort }}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Telefon:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ order.empfaenger.telefon }}</span></div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                <h5 class="heading_modal">Zusammenfassung</h5>
                <h6>Sendungsinformationen</h6>
                <div class="row padding-left">
                    <div class="col-4">Wert der Sendung:</div>
                    <div class="col-8 ">{{ order.sendungsdaten.wert }} €</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">Gewicht der Sendung:</div>
                    <div class="col-8">{{ order.sendungsdaten.gewicht }}</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">Art der Ware:</div>
                    <div class="col-8">{{ order.sendungsdaten.art }}</div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h6>Versandinformationen</h6>
                <div class="row padding-left">
                    <div class="col-4">Abholdatum:</div>
                    <div class="col-8">{{ order.abholTermin.datum}}</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        Zustelltermin:
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="order.zustellTermin.termin === 'Standardzustellungstermin'">Standardtermin (zwischen
                            09:00 - 17:00
                            Uhr)
                        </div>
                        <div *ngIf="order.zustellTermin.termin === '9'">Termin um 09:00 Uhr</div>
                        <div *ngIf="order.zustellTermin.termin === '10'">Termin um 10:00 Uhr</div>
                        <div *ngIf="order.zustellTermin.termin === '12'">Termin um 12:00 Uhr</div>
                        <div *ngIf="order.zustellTermin.termin === 'fixtermin'"> Fixtermin um {{
                            order.zustellTermin.zeit }} Uhr
                        </div>

                    </div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        Zustellungsart:
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="order.zustellTermin.art === 'Standardzustellung'">Standard</div>
                        <div *ngIf="order.zustellTermin.art === 'persoenlich'">Persönlich</div>
                        <div *ngIf="order.zustellTermin.art === 'persoenlichIdent'">Persönlich mit Identifikation</div>

                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h6>Auftragsbestätigung und Rechnungs</h6>
                <div class="row padding-left">
                    <div class="col-4">E-Mail:</div>
                    <div class="col-8"> {{ order.rechnungsDaten.email }}</div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        Telefon:
                    </div>

                    <div class="col-8">
                        {{ order.rechnungsDaten.telefon }}
                    </div>
                </div>

                <div class="row padding-left">
                    <div class="col-4">
                        Rechnungsadresse:
                    </div>

                    <div class="col-8">
                        <!--ZUSTELLTERMIN-->
                        <div *ngIf="order.rechnungsDaten.rechnungsAdresse === 'absender'">Wie Absender ({{
                            order.absender.firma
                            }})
                        </div>
                        <div *ngIf="order.rechnungsDaten.rechnungsAdresse === 'empfeanger'">Wie Empfänger ({{
                            order.empfeanger.firma
                            }})
                        </div>

                        <div *ngIf="order.rechnungsDaten.rechnungsAdresse === 'manuell'">
                            {{ order.rechnungsDaten.name }}
                            <br>
                            {{ order.rechnungsDaten.adresse }}
                            <br>
                            {{ order.rechnungsDaten.plz }}
                            <br>
                            {{ order.rechnungsDaten.ort }}
                            <br>
                            {{ order.rechnungsDaten.telefon }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix vertical-horizontal-center">
            <button type="button" pButton icon="fa fa-file" (click)="delete()" label="PDF herunterladen"></button>
        </div>
    </p-footer>
</p-dialog>