<nav class="navbar navbar-expand-lg navbar-light header-color">
    <a class="navbar-brand" href="">Camel-24</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/auftrag"><i class="fa fa-file" ></i> Online - Auftrag</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-truck"></i> Dienste</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://kep-ag.kep-it.de/xtras/track.php" target="_blank">Sendungsverfolgung - KEP</a>
                    <a class="dropdown-item" href="http://www.derkurier.de/onlineservices/sendung-verfolgen/" target="_blank">Sendungsverfolgung - Der Kurier</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Impressum - AGB</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/national">AGB - National</a>
                    <a class="dropdown-item" routerLink="/international">AGB - International</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/impressum">Impressum</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown" *ngIf="boolCheckIfLoggedIn">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><strong> <i class="fa fa-user"></i> {{ displayName }} - {{ kundenNummer}}
                </strong></a>
                <div class="dropdown-menu">
                    <a *ngIf="role == 'User'" class="dropdown-item" routerLink="/userdashboard">Auftragsprofil</a>
                    <a *ngIf="role == 'Admin'" class="dropdown-item" routerLink="/admindashboard">Admin - Dashboard</a>
                    <a *ngIf="role == 'Admin'" class="dropdown-item" routerLink="/config">Admin - Konfiguration</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logoutUser()">Ausloggen</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="boolCheckIfLoggedIn === false">
                <a class="nav-link" (click)="onRegisterOpenModal()">Registrieren</a>
            </li>
            <li class="nav-item" *ngIf="boolCheckIfLoggedIn === false">
                <a class="nav-link" (click)="onLogin()">Einloggen</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm vertical-horizontal-center">
            <p-messages [(value)]="msgs" [closable]="true"></p-messages>
        </div>
    </div>
</div>

