<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="#" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">Waffen- und Wertversand</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navdrop" role="button" data-toggle="dropdown"
                   data-hover="dropdown">AGB´s</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                    <a href="#" class="dropdown-item">AGB - National</a>
                    <a href="#" class="dropdown-item">AGB - International</a>
                </div>

            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Impressum</a>
            </li>

        </ul>
    </div>

</nav>