<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <img src="../../../../assets/images/user.png" height="24" width="24"/>
                    <strong>Benutzer</strong>
                </div>
                <div class="card-body">
                    <form #fuser="ngForm" name="form1" (ngSubmit)="onUpdate(fuser)" novalidate>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="vorname">Vorname</label>
                                        <input type="text" class="form-control" id="vorname" name="vorname"
                                               [(ngModel)]="sessionVorname"
                                               #vorname="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && vorname.invalid }"
                                               maxlength="50"
                                               required>
                                        <div *ngIf="fuser.submitted && vorname.invalid" class="invalid-feedback">
                                            <div *ngIf="vorname.errors.required">Vorname wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="nachname">Nachname</label>
                                        <input type="text" class="form-control" id="nachname" name="nachname"
                                               [(ngModel)]="sessionNachname"
                                               #nachname="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && nachname.invalid }"
                                               maxlength="50"
                                               required>
                                        <div *ngIf="fuser.submitted && nachname.invalid" class="invalid-feedback">
                                            <div *ngIf="nachname.errors.required">Nachname wird benötigt</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="firmenname">Firmenname</label>
                                        <input type="text" class="form-control" id="firmenname" name="firmenname"
                                               [(ngModel)]="sessionFirmenName"
                                               #firmenname="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && firmenname.invalid }"
                                               maxlength="75"
                                               required>
                                        <div *ngIf="fuser.submitted && firmenname.invalid" class="invalid-feedback">
                                            <div *ngIf="firmenname.errors.required">Firmenname wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="kundennummer">Kundennummer</label>
                                        <input type="text" class="form-control" id="kundennummer" name="kundennummer"
                                               [(ngModel)]="sessionKundenNummer"
                                               #kundennummer="ngModel"
                                               disabled
                                               [ngClass]="{ 'is-invalid': fuser.submitted && kundennummer.invalid }"
                                               pattern="[0-9]{5}"
                                               maxlength="5"
                                               required>
                                        <div *ngIf="fuser.submitted && kundennummer.invalid" class="invalid-feedback">
                                            <div *ngIf="kundennummer.errors.required">Kundennummer wird benötigt</div>
                                            <div *ngIf="kundennummer.errors.pattern">Bitte sie Ihre 5 stellige
                                                Kundennummer ein.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vorname">E-Mail</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                           [(ngModel)]="sessionEmail"
                                           #email="ngModel"
                                           [ngClass]="{ 'is-invalid': fuser.submitted && email.invalid }"
                                           maxlength="75"
                                           disabled
                                           email
                                           required>
                                    <div *ngIf="fuser.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors.required">E-Mail wird benötigt</div>
                                        <div *ngIf="email.errors.email">Bitte geben Sie eine gültige E-Mail ein</div>
                                    </div>
                                </div>
                                <hr>
                                <h5>Standardauftragsdaten</h5>
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="adresse">Adresse</label>
                                        <input type="text" class="form-control" id="adresse" name="adresse"
                                               [(ngModel)]="sessionAdresse"
                                               #adresse="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && adresse.invalid }"
                                               maxlength="75"
                                        >

                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="ort">Ort</label>
                                        <input type="text" class="form-control" id="ort"
                                               name="ort"
                                               [(ngModel)]="sessionOrt"
                                               #ort="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && ort.invalid }"
                                               maxlength="75"
                                        >

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="plz">Plz</label>
                                        <input type="text" class="form-control" id="plz" name="plz"
                                               [(ngModel)]="sessionPlz"
                                               #plz="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && plz.invalid }"
                                               minlength="5"
                                               maxlength="5"
                                               pattern="[0-9]{5}">
                                        <div *ngIf="fuser.submitted && plz.invalid" class="invalid-feedback">
                                            <div *ngIf="plz.errors.pattern">PLZ muss mindestens 5 Zeichen enthalten
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="land">Land</label>
                                        <select id="land"
                                                class="form-control"
                                                [(ngModel)]="sessionLand"
                                                name="land"
                                                #land="ngModel"
                                                [ngClass]="{ 'is-invalid': fuser.submitted && land.invalid }"
                                        >
                                            <option value="Deutschland" selected>Deutschland</option>
                                            <option value="Österreich">Österreich</option>
                                            <option value="Schweiz">Schweiz</option>
                                        </select>
                                        <div *ngIf="fuser.submitted && land.invalid"
                                             class="invalid-feedback">
                                            <div *ngIf="land.errors.required">Land wird benötigt</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="telefon">Telefon</label>
                                        <input type="text" class="form-control" id="telefon" name="telefon"
                                               [(ngModel)]="sessionTelefon"
                                               #telefon="ngModel"
                                               [ngClass]="{ 'is-invalid': fuser.submitted && telefon.invalid }"
                                               minlength="1"
                                               maxlength="20">
                                        <div *ngIf="fuser.submitted && telefon.invalid" class="invalid-feedback">
                                            Telefonnummer darf nur aus Nummern bestehen.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm vertical-horizontal-center">
                                <p-messages [(value)]="msgsUser" [closable]="true"></p-messages>
                            </div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-sm vertical-horizontal-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!fuser.dirty">Speichern
                                    <span class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"
                                          *ngIf="$httpLoader.isLoading | async"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row pt-5">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Preis Konfiguration
                </div>

                <button (click)="openCreateModal()" class="btn- btn-success">Preis erstellen</button>

                <div class="card-body">
                    <p-table
                            [value]="$dasboardService.priceConfig$ | async"
                            [paginator]="true"
                            [rows]="20"
                            selectionMode="single"
                            sortMode="multiple"
                            (onRowSelect)="onRowSelect($event)"
                    >

                        <ng-template pTemplate="header">
                            <tr style="text-align: center">
                                <th [pSortableColumn]="'identificationNumber'">
                                    Art
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'createdAt'">
                                    Zeit
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'rechnungsDaten.email'">
                                    Preis
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-priceConfig>
                            <tr style="text-align: center;" [pSelectableRow]="priceConfig">
                                <td>{{ priceConfig.type }}</td>
                                <td *ngIf="priceConfig.time !== 'samstag'">{{ priceConfig.time }} Uhr</td>
                                <td *ngIf="priceConfig.time == 'samstag'">{{ priceConfig.time }}</td>
                                <td>{{ priceConfig.price }} €</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5 pb-5">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    SMTP Konfiguation
                </div>

                <div class="card-body">
                    <form #f="ngForm" name="form" (ngSubmit)="onSave(f)" novalidate>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="smtpHost">SMTP Host</label>
                                        <input type="text" class="form-control" id="smtpHost" name="smtpHost"
                                               [(ngModel)]="config.smtpHost"
                                               #smtpHost="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && smtpHost.invalid }"
                                               maxlength="60"
                                               required>
                                        <div *ngIf="f.submitted && smtpHost.invalid" class="invalid-feedback">
                                            <div *ngIf="smtpHost.errors.required">SMTP Host wird benötigt.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="smtpPort">SMTP Port</label>
                                        <input type="number" class="form-control" id="smtpPort" name="smtpPort"
                                               [(ngModel)]="config.smtpPort"
                                               #smtpPort="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && smtpPort.invalid }"
                                               required>
                                        <div *ngIf="f.submitted && smtpPort.invalid" class="invalid-feedback">
                                            <div *ngIf="smtpPort.errors.required">SMTP Port wird benötigt.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm">
                                        <label for="smtpSecure">SMTP Secure</label>
                                        <input type="checkbox" class="form-control" id="smtpSecure" name="smtpSecure"
                                               [(ngModel)]="config.smtpSecure"
                                               #smtpSecure="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && smtpSecure.invalid }">
                                        <div *ngIf="f.submitted && smtpSecure.invalid" class="invalid-feedback">
                                            <div *ngIf="smtpSecure.errors.required">SMTP Secure wird benötigt.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="smtpUser">SMTP Benutzer</label>
                                        <input type="text" class="form-control" id="smtpUser" name="smtpUser"
                                               [(ngModel)]="config.smtpUser"
                                               #smtpUser="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && smtpUser.invalid }"
                                               required>
                                        <div *ngIf="f.submitted && smtpUser.invalid" class="invalid-feedback">
                                            <div *ngIf="smtpUser.errors.required">SMTP User wird benötigt.</div>

                                        </div>
                                    </div>

                                    <div class="form-group col-sm">
                                        <label for="smtpSecure">SMTP Benutzer Passwort</label>
                                        <input type="text" class="form-control" id="smtpPassword" name="smtpPassword"
                                               [(ngModel)]="config.smtpPassword"
                                               #smtpPassword="ngModel"
                                               [ngClass]="{ 'is-invalid': f.submitted && smtpPassword.invalid }"
                                               required>
                                        <div *ngIf="f.submitted && smtpPassword.invalid" class="invalid-feedback">
                                            <div *ngIf="smtpPassword.errors.required">SMTP Benuter Passwort wird
                                                benötigt.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm vertical-horizontal-center">
                                <p-messages [(value)]="msgs" [closable]="true"></p-messages>
                            </div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-sm vertical-horizontal-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!f.dirty">Speichern
                                    <span class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"
                                          *ngIf="$httpLoader.isLoading | async"></span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [header]="'Preis bearbeiten'" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          width="800" [draggable]="false" [blockScroll]="false" [closeOnEscape]="false" (onHide)="onCloseModal()">
    <div class="container" *ngIf="priceConfig">
        <div class="row">
            <div class="col-sm">
                <p-messages [(value)]="msgsModal" [closable]="true"></p-messages>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-5"><strong>Typ:</strong></div>
                    <div class="col-7"><span class="padding-left">{{ priceConfig.type}}</span></div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Zeit:</strong></div>
                    <div class="col-7" *ngIf="priceConfig.time !== 'samstag'"><span class="padding-left">{{ priceConfig.time}} Uhr</span>
                    </div>
                    <div class="col-7" *ngIf="priceConfig.time == 'samstag'"><span class="padding-left">{{ priceConfig.time}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><strong>Preis:</strong></div>
                    <div class="col-7">
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="priceConfig.price"
                               [disabled]="disableInput"

                        >
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>

    <p-footer>

        <button type="button" class="btn btn-success" (click)="updateConfig(priceConfig)"> Bearbeiten
            <span class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"
                  *ngIf="$httpLoader.isLoading | async"
            ></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="deletePriceConfig()">Löschen
            <span class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"
                  *ngIf="$httpLoader.isLoading | async"
            ></span>
        </button>

    </p-footer>
</p-dialog>


<p-dialog [header]="'Preis erstellen'" [(visible)]="displayDialogCreate" [responsive]="true" showEffect="fade"
          [modal]="true"
          width="800" [draggable]="false" [blockScroll]="false" [closeOnEscape]="false" (onHide)="onCloseModal()">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p-messages [(value)]="msgsModal" [closable]="true"></p-messages>
            </div>
        </div>
        <form #fprice="ngForm" name="form" (ngSubmit)="onPriceSave(fprice)" novalidate>

            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-5"><strong>Typ (abhol, zustell, ident, versicherung, nachnahme):</strong></div>
                        <div class="col-7">
                            <input type="text" class="form-control" id="type" name="type"
                                   ngModel
                                   #type="ngModel"
                                   [ngClass]="{ 'is-invalid': fprice.submitted && type.invalid }"
                                   [disabled]="disableInput"
                                   required>
                            <div *ngIf="fprice.submitted && type.invalid" class="invalid-feedback">
                                <div *ngIf="type.errors.required">Typ wird
                                    benötigt (zustell, abhol).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-1">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-5"><strong>Zeit (08-17, null, samstag):</strong></div>
                        <div class="col-7">
                            <input type="text" class="form-control" id="time" name="time"
                                   ngModel
                                   #time="ngModel"
                                   [ngClass]="{ 'is-invalid': fprice.submitted && time.invalid }"
                                   pattern="[0-9]{2}-[0-9]{2}"
                                   [disabled]="disableInput"
                                   required>
                            <div *ngIf="fprice.submitted && time.invalid" class="invalid-feedback">
                                <div *ngIf="time.errors.required">Zeit wird
                                    benötigt. Bsp 08-17
                                </div>

                                <div *ngIf="time.errors.pattern">Zeit muss Pattern entsprechen. Bsp. 08-17
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-1">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-5"><strong>Preis:</strong></div>
                        <div class="col-7">
                            <input type="text" class="form-control" id="price" name="price"
                                   ngModel
                                   #price="ngModel"
                                   [ngClass]="{ 'is-invalid': fprice.submitted && price.invalid }"
                                   [disabled]="disableInput"
                                   required>
                            <div *ngIf="fprice.submitted && price.invalid" class="invalid-feedback">
                                <div *ngIf="price.errors.required">Preis wird
                                    benötigt.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-2 pb-2">
                <div class="col-sm vertical-horizontal-center">
                    <button type="submit" class="btn btn-primary">Speichern
                        <span class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"
                              *ngIf="$httpLoader.isLoading | async"></span>
                    </button>
                </div>


            </div>
        </form>

    </div>
</p-dialog>
