<div class="container-fluid">
  <div class="row">
    <div class="col-sm vertical-horizontal-center pt-5">
      <h2 class="h3_agb_impressum">Allgemeine Geschäftsbedinungen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm vertical-horizontal-center">
      <h4>Für die Nationale Frachtbeförderung</h4>
    </div>
  </div>
  <hr>
  <div class="row p-3">
    <div class=" col-sm">
      <p><b>1 Geltungsbereich und Rechtsgrundlagen</b><br>
        (1) Diese Allgemeinen Geschäftsbedingungen, nachfolgend „AGB" genannt, gelten für alle Verträge mit der Firma
        Camel-24, 91230 Happurg, über die Vermittlung und Beförderung von Sendungen im nationalen Bereich.<br>
        (2) Camel-24 kann sich zur Durchführung ihrer Verpflichtungen eines Transportdienstleisters ihrer Wahl bedienen,
        im folgenden „Logistikdienstleister genannt. <br>
        (3) Soweit durch zwingende gesetzliche Vorschriften, schriftliche Einzelvereinbarungen, ausdrücklich genannte
        spezielle Bedingungen und diese AGB nichts anderes bestimmt ist, finden ausschließlich die Allgemeinen Deutschen
        Spediteurbedingungen (ADSp) in ihrer jeweiligen gültigen Fassung Anwendung.<br>
        <br>
        <b>2 Vertragsverhältnis - Begründung und Ausschlüsse</b><br>
        (1) Der Vertragsabschluss kommt wie folgt zustande: Der Kunde erteilt den Auftrag in elektronischer Form (durch
        Ausfüllen des elektronischen Formulars und dessen Absendung) oder durch direkte Übergabe bzw. Übersendung des
        ausgedruckten und ausgefüllten Formulars per Telefax oder per Brief (= Angebot). Camel-24 nimmt den Auftrag
        durch Unterzeichnung des vom Kunden ausgefüllten Frachtbriefes auf Grundlage dieser AGB an. Abweichende
        Bedingungen sind schriftlich zu vereinbaren. <br>
        (2) Sämtliche Daten des Kunden werden elektronisch gespeichert und verarbeitet. Der Kunde erklärt sich mit der
        Datenverarbeitung einverstanden. Eine Weitergabe von Kundendaten an Dritte erfolgt nur insoweit, als dies zur
        vertragsgemäßen Erfüllung erforderlich ist.<br>
        (3) Camel-24 schließt keinen Vertrag über die Vermittlung und Beförderung folgender Sendungen (ausgeschlossene
        Sendungen), wobei Mitarbeiter der Camel-24 und sonstige Erfüllungsgehilfen nicht berechtigt sind, Verträge über
        die Vermittlung und Beförderung solcher Sendungen zu schließen:<br>
        -Sendungen, die Geld, Scheck-, Kreditkarten, gültige Telefonkarten oder andere Zahlungsmittel oder Wertpapiere
        enthalten, für die im Schadensfall keine Sperrungen sowie Aufgebots- und Ersatz-verfahren durchgeführt werden
        können; <br>
        -Sendungen mit einem tatsächlichen Wert von mehr als 25.000 EURO; die Haftungsbeschränkungen gemäß Abschnitt 5
        bleiben von dieser Wertgrenze unberührt; <br>
        -Sendungen, deren Inhalt, äußere Gestaltung, Beförderung oder Lagerung gegen ein gesetzliches oder behördliches
        Verbot verstoßen oder besondere Einrichtungen (z. B. für temperatur- geführtes Gut), Sicherheitsvorkehrungen
        oder Genehmigungen erfordern; <br>
        -Sendungen, durch deren Inhalt oder äußere Beschaffenheit Personen verletzt, infiziert oder Sachschäden
        verursacht werden können; <br>
        -Sendungen, deren Beförderung und/oder Lagerung gefahrgutrechtlichen Vorschriften unterliegt; <br>
        -Sendungen, die Tierkadaver oder Teile derselben, Körperteile oder sterbliche Überreste von Menschen enthalten.
        <br>
        (4) Entspricht eine Sendung hinsichtlich ihrer Beschaffenheit (Größe, Format, Gewicht, Inhalt usw.) oder in
        sonstiger Weise nicht diesen AGB, so steht es Camel-24 oder dem beauftragten Logistikdienstleister frei, die
        Annahme der Sendung zu verweigern oder eine bereits versehentlich übernommene Sendung zurückzugeben oder zur
        Abholung bereitzuhalten oder diese ohne Benachrichtigung des Absenders zu befördern und ein entsprechendes
        Entgelt gemäß der Camel-24- Preisliste zu erheben. Entsprechendes gilt, wenn bei Verdacht auf ausgeschlossene
        Sendungen oder auf sonstige Vertragsverstöße der Absender auf Verlangen der Camel-24 oder des beauftragten
        Logistikdienstleisters Angaben dazu verweigert. <br>
        (5) Erlangt Camel-24 oder der beauftragte Logistikdienstleister erst nach Übergabe der Sendung Kenntnis davon,
        dass die Sendung ausgeschlossene Güter enthält, oder verweigert der Absender auf Verlangen von Camel-24 oder des
        beauftragten Logistikdienstleisters bei Verdacht auf ausgeschlossene Güter Angaben dazu, behält sich Camel-24
        bereits jetzt die Anfechtung des Vertrages wegen Täuschung vor. Camel-24 oder der beauftragte
        Logistikdienstleister sind nicht zur Prüfung von Beförderungsausschlüssen gemäß Absatz 3 verpflichtet; sie sind
        jedoch bei Verdacht auf solche Ausschlüsse nach Rücksprache mit dem Versender zur Öffnung und Überprüfung der
        Sendungen berechtigt. <br>
        (6) Ansprüche aus diesem Vertrag einschließlich der Haftung kann grundsätzlich nur der Kunde als Vertragspartner
        von Camel-24 geltend machen.<br>
        <br>
        <b>3 Rechte, Pflichten und Obliegenheiten des Absenders </b><br>
        (1) Der Kunde ist verpflichtet, für jede Transportdienstleistung das ihm dafür in Rechnung gestellte Entgelt zu
        entrichten. Die Entgelthöhe richtet sich nach der jeweils gültigen Preisliste, die jederzeit auf Anforderung
        ausgehändigt wird oder in unseren Geschäftsräumen eingesehen werden kann. Für die Abrechnung des Entgelts ist
        das von Camel-24 bzw. dem Logistikdienstleister ermittelte Gewicht sowie der Warenwert maßgebend. <br>
        (2) Nimmt der Kunde am Lastschrifteinzugsverfahren teil und wird eine von Camel-24 eingereichte Lastschrift z.B.
        durch unzureichendes Guthaben zurückgegeben, ist Camel-24 berechtigt, neben den dadurch entstehenden
        Bankgebühren eine Mehraufwandsentschädigung von 20,00 EUR zzgl. MwSt. je zurückgegebene Lastschrift zu erheben.
        Ferner ist Camel-24 bei <br>
        Zahlungsverzug berechtigt, Zinsen in Höhe von 9 Prozentpunkten über dem Basiszinssatz zu berechnen. Kann
        Camel-24 eine höhere Zinslast nachweisen, schuldet der Kunde die höheren Verzugszinsen. Camel-24 ist im Falle
        einer Rücklastschrift zur fristlosen Kündigung von sämtlichen mit dem Kunden bestehenden Verträgen berechtigt.
        <br>
        (3) Der Kunde hat das Entgelt im Voraus zu zahlen, soweit nicht individualvertraglich andere Abreden zwischen
        Camel-24 und dem Kunden getroffen werden. <br>
        (4) Macht der Kunde über das Transportgut falsche Angaben (Maße, Gewicht, Beschaffenheit, Wert oder Inhalt), ist
        er verpflichtet, Camel-24 tatsächlich entstehende Mehrkosten (entsprechend Nachweis) zuzüglich einer
        Mehraufwandsentschädigung von 20,00 EUR zzgl. MwSt. zu bezahlen. <br>
        (5) Weisungen des Kunden, mit der Sendung über die von Camel-24 angebotenen Dienstleistungen hinaus zu
        verfahren, sind unzulässig. <br>
        (6) Dem Kunden obliegt es, eine Dienstleistung der Camel-24 gemäß deren aktuellen Preisliste (inkl. Versicherung
        entsprechend dem Warenwert) zu wählen, die seinen Schaden bei Verlust, Beschädigung oder einer sonst nicht
        ordnungsgemäßen Leistung am ehesten deckt. <br>
        (7) Der Kunde hat die Sendungen so zu verpacken, dass sie vor Verlust und Beschädigung geschützt sind und dass
        auch Dritten keine Schäden entstehen. Näheres bestimmen die Versandbedingungen der Camel-24. <br>
        (8) Der Kunde verpflichtet sich, die Ware versandfertig zur Abholung für den Logistikdienstleister zur Verfügung
        zu stellen. Die Sendung hat nach Anzahl, Gewicht und Abmessung in verpacktem Zustand den Angaben gemäß der
        Auftragserteilung zu entsprechen. Bei Abweichungen ist der Kunde gegenüber Camel-24 für eventuell entstehende
        Mehrkosten zahlungspflichtig (vgl. Abschnitt 3 Abs.4). Die Waren sind vom Kunden deutlich und haltbar mit den
        für ihre auftragsgemäße Behandlung erforderlichen Kennzeichen zu versehen, wie Adressen, Zeichen, Nummern,
        Symbolen für Handhabung und Eigenschaften. Die Packstücke sind so herzurichten, dass ein Zugriff auf den Inhalt
        ohne Hinterlassen äußerlich sichtbarer Spuren nicht möglich ist. Die Ware muss grundsätzlich durch den Versender
        in der Originaltransportverpackung mit den vom Hersteller vorgesehenen Transportsicherungen verpackt werden. Ist
        dies nicht möglich, muss die Ware in gleichwertiger Art und Weise richtig und sicher verpackt werden, um eine
        Beschädigung des Transportguts während des Transports auszuschließen. Dabei gelten besondere Anforderungen an
        den Versand von elektronischen Geräten, bzw. Waren, die aus Glas bestehen oder Glasteile beinhalten. <br>
        (9) Waren mit außergewöhnlichem Wert, insbesondere Edelsteine, müssen für den innerdeutschen Versand aus Gründen
        der Sicherheit<br>
        mittels des Produktes „Valoren-Express“ in den vonCamel-24 bereitgestellten Versandtaschen mit
        Sicherheitsverschluss und ausgefülltem Frachtbrief versendet werden. Valoren-Express-Sendungen, die auf Grund
        ihrer Größe nicht in den Versandtaschen versendet werden können, müssen gemäß den Bestimmungen in den ADSp
        verpackt sein. Es wird empfohlen, diese Sendungen zu versiegeln und mit einem Sicherheitsband zu versehen.<br>
        (10) Camel-24 übernimmt für den Inhalt der Sendungen keinerlei Verantwortung. Der Absender trägt vielmehr die
        alleinige Verantwortung und das Risiko für alle Folgen, die aus einem - auch nach anderen Bestimmungen als
        diesen AGB – unzulässigen Güterversand resultieren.<br>
        <br>
        <b>4 Leistungen von Camel-24</b><br>
        (1) Nach Auftragserteilung durch den Kunden führt Camel-24 den Transport selbst durch oder veranlasst die
        Durchführung durch einen von ihr ausgewählten Logistikdienstleister. Nach Auftragserteilung wird die Sendung
        beim Kunden abgeholt. Ist der Kunde beim vorher vereinbarten Abholversuch nicht anzutreffen, gilt dieser als
        ausgeführt. Der Kunde hat keinen Anspruch auf eine zweite kostenfreie Abholung. Vielmehr hat der Kunde die
        Möglichkeit, über Camel-24 eine zweite kostenpflichtige Abholung zu buchen oder die Sendung mit dem vom
        Logistikdienstleister überlassenen Paket schein bei einer benannten Stelle einzuliefern. Der Kunde sowie der
        Empfänger haben die Möglichkeit, mit der Auftrags- oder Paketnummer den Laufweg der Sendung auf der Website des
        entsprechenden Logistikunternehmens zu verfolgen oder telefonisch bei Camel-24 zu erfragen.<br>
        (2) Der beauftragte Logistikdienstleister bzw. Camel-24 (im Folgenden nur Logistikdienstleister genannt)
        bescheinigt dem Kunden die Übernahme (Einlieferung) der Sendungen.<br>
        (3) Der Logistikdienstleister befördert die Sendungen zum Bestimmungsort und liefert sie an den Empfänger unter
        der vom Absender genannten Anschrift ab. Die Einhaltung einer bestimmten Lieferfrist ist nicht geschuldet,
        soweit nicht für einzelne Produkte etwas anderes ausdrücklich vereinbart ist.<br>
        (4) Der Logistikdienstleister nimmt die Ablieferung (Zustellung) unter der auf der Sendung angebrachten
        Anschrift durch Aushändigung gegen Empfangsbestätigung an den Empfänger, an seinen Ehegatten oder an eine
        volljährige Person, die zum Empfang der Sendung bevollmächtigt ist (Empfangsbevollmächtigter /
        Postempfangsbeauftragter), vor. Vorausverfügungen (wie z. B. Lagerung, Nachsendung oder Zustellung durch Ablage)
        sind unzulässig.<br>
        (5) Der Logistikdienstleister darf Sendungen, die nicht in der in Absatz 4 genannten Weise abgeliefert werden
        können, einem Ersatzempfänger aushändigen. Dies gilt nicht für Sendungen mit dem Service „Eigenhändig".
        Ersatzempfänger sind erstens Angehörige des Empfängers und des Ehegatten, oder zweitens andere, in den Räumen
        des Empfängers anwesende Personen, sowie dessen Hausbewohner und Nachbarn, sofern den Umständen nach angenommen
        werden kann, dass sie zur Annahme der Sendungen berechtigt sind.<br>
        (6) Der Logistikdienstleister hält Sendungen, deren Ablieferung nach den Absätzen 4 und 5 nicht erfolgt ist, für
        den Empfänger innerhalb einer Frist von sieben Werktagen, beginnend mit dem Tag, an dem die Ablieferung versucht
        wurde, zur Abholung bereit. Dies gilt auch dann, wenn dem Logistikdienstleister eine Ablieferung aufgrund
        außergewöhnlicher Umstände (z. B. entlegenes Gehöft, keine Ablieferungsvorrichtung) oder besonderer Gefahren am
        Ablieferungsort nicht zumutbar ist. Der Empfänger wird darüber unverzüglich benachrichtigt. <br>
        (7) Der Logistikdienstleister kann zur Empfangsbestätigung elektronische Mittel einsetzen. Mit Hilfe dieser
        Mittel wird entweder der gedruckte Name in Verbindung mit der digitalisierten oder elektronischen Unterschrift
        oder eine andere Identifikation des Empfängers oder der empfangsberechtigten Person dokumentiert. Dem Absender
        reicht diese Form der Empfangsbestätigung als Nachweis der Ablieferung aus.<br>
        (8) Der Logistikdienstleister wird unzustellbare Sendungen nach Einholung von Weisungen bei dem Kunden
        kostenpflichtig zum Absender zurückbeordern, sofern dies nicht für das jeweilige Produkt ausgeschlossen ist.
        Sendungen sind unzustellbar, wenn keine empfangsberechtigte Person im Sinne der Absätze 4 und 5 angetroffen wird
        und die Abholfrist fruchtlos verstrichen ist oder die Annahme durch den Empfänger, seinen Ehegatten oder
        Empfangsbevollmächtigten /Ersatzempfänger verweigert wird oder der Empfänger nicht ermittelt werden kann. Als
        Annahmeverweigerung gilt auch die Verhinderung der Ablieferung über eine vorhandene Empfangsvorrichtung (z. B.
        Zukleben/ Einwurfverbot), die Weigerung zur Zahlung des Nachnahmebetrages und die Weigerung zur Abgabe der
        Empfangsbestätigung.<br>
        (9) Kann eine unzustellbare Sendung nicht entsprechend der in den Absätzen 4 bis 7 geregelten Weise an den
        Absender zurückgegeben werden, ist der Logistikdienstleister zur Öffnung berechtigt. Ist der Absender oder ein
        sonstiger Berechtigter auch nach Öffnung nicht zu ermitteln und eine Ablieferung auf andere Weise nicht
        zumutbar, ist der Logistikdienstleister nach Ablauf von sechs Wochen zur Veräußerung der Sendung berechtigt.
        Unverwertbares Gut oder Sendungen im Sinne des Abschnitts 2 Abs. 3 kann der Logistikdienstleister vor Ablauf
        dieser Frist kostenpflichtig vernichten. Das Recht zur sofortigen Verwertung oder Vernichtung hat der
        Logistikdienstleister auch, soweit Absender und Empfänger auf den Erhalt der Sendung, z. B. durch Annahme- bzw.
        Rücknahme-verweigerung, verzichten.<br>
        <br>
        <b>5 Haftung</b><br>
        (1) Für Zerstörung, Verlust, Beschädigung oder Verspätung der Sendungen haftet Camel-24 gemäß § 23 ADSp nur bis
        zu den dort genannten Höchstbeträgen. Diese Beschränkung gilt nicht, wenn der Kunde im Falle der Versendung von
        Wertgegenständen (Valoren, z.B. Uhren, Schmuck, Zahngold, Münzen, Juwelen, Edel- und Halbedelsteine, Bijouterien
        und ähnlichem) bei Vertragsabschluss das Interesse an der Ablieferung am Bestimmungsort betragsmäßig angegeben
        (bestimmte Wertangabe) und den von der Camel-24 entsprechend der Wertangabe berechneten Frachtpreis inkl. Einer
        Transportversicherung entrichtet hat. Bei Versendung sonstiger Güter gilt die oben genannte Beschränkung nicht,
        wenn der Kunde bei Vertragsabschluss den Wert angibt und den von Camel-24 angegebenen Zuschlag für die
        Transportversicherung entsprechend der Wertangabe entrichtet hat. Der Kunde ist verpflichtet, bei
        Auftragserteilung den Warenwert der Sendung wahrheitsgemäß anzugeben. Es wird ausdrücklich darauf hingewiesen,
        dass auch bei Vorliegen der vorgenannten Voraussetzungen (Abschluss einer Transportversicherung) eine
        Entschädigungshöchstgrenze von 25.000,00 € besteht. Eine höhere Eindeckung bei einer Transportversicherung ist
        durch Camel-24 nicht möglich.<br>
        (2) Die Haftung des Absenders bleibt unberührt. Der Absender haftet vor allem für alle Schäden, die Camel-24,
        dem beauftragten Logistikdienstleister oder Dritten aus der Versendung ausgeschlossener Güter gemäß Abschnitt 2
        oder der Verletzung seiner Pflichten gemäß Abschnitt 3 entstehen. Der Absender stellt insoweit die Camel-24 von
        jeglichen Ansprüchen Dritter frei.<br>
        (3) Es wird ausdrücklich darauf hingewiesen, dass bei falscher Warendeklaration, insbesondere bei Angabe eines
        falschen Wertes die Haftung begrenzt ist auf die entsprechende Wertangabe des Kunden.<br>
        <br>
        <b>6 Schadensanzeige</b><br>
        (1) Im Fall einer Beschädigung der Sendung oder eines Teils davon muss der Empfänger unverzüglich nach
        Entdeckung des Schadens, spätestens jedoch binnen 10 Tagen nach der Annahme der Sendung bei Camel-24 Anzeige
        erstatten. Im Fall einer Verspätung muss die Anzeige binnen 14 Tagen, nachdem die Sendung dem Empfänger zur
        Verfügung gestellt worden ist, erfolgen. Im Falle eines Verlustes bzw. Teilverlustes hat die Anzeige binnen 21
        Tagen nach Übernahme der Sendung durch die Camel-24 oder den Logistikdienstleister zu erfolgen. Jede
        Beanstandung muss schriftlich gegenüber Camel-24 erklärt und innerhalb der genannten Frist übergeben oder
        abgesandt werden. Wird die Anzeigefrist versäumt, so ist jede Klage gegen Camel-24 bzw. den
        Logistikdienstleister ausgeschlossen, es sei denn, dass diese arglistig gehandelt haben.<br>
        (2) Eine Sendung gilt als verloren, wenn sie nicht innerhalb von 14 Tagen nach Einlieferung an den Empfänger
        abgeliefert ist und ihr Verbleib nicht ermittelt werden kann. <br>
        <br>
        <b>7 Warentransportversicherung</b><br>
        (1) Vom Versicherungsschutz sind insbesondere nicht gedeckt: Sendungen, die gemäß Abschnitt 2 von der
        Beförderung ausgeschlossen sind, Schäden, die durch fehlende oder mangelhafte Verpackung oder durch vorsätzliche
        Herbeiführung des Schadenfalles durch den Absender entstanden sind.<br>
        (2) Die einzelnen Versicherungskonditionen können von Camel-24 angefordert oder in unseren Geschäftsräumen
        eingesehen werden. <br>
        <br>
        <b>8 Verjährung</b><br>
        Ansprüche gegen Camel-24 verjähren in einem Jahr. Die Verjährung beginnt mit Ablauf des Tages, an dem die
        Sendung eingeliefert wurde. <br>
        <br>
        <b>9 Sonstige Regelungen, Gerichtsstand</b><br>
        (1) Es gelten die Versand- und Verpackungsrichtlinien von Camel-24. <br>
        (2) Der Absender kann Ansprüche gegen Camel-24, ausgenommen Geldforderungen, weder abtreten noch verpfänden.
        <br>
        (3)Der Absender kann gegen Ansprüche von Camel-24 oder des beauftragten Logistikdienstleisters nur mit
        rechtskräftig festgestellten oder unbestrittenen Forderungen aufrechnen. <br>
        (4) Ausschließlicher Gerichtsstand für Rechtsstreitigkeiten mit Kaufleuten, juristischen Personen des
        öffentlichen Rechts oder <br>
        öffentlich-rechtlicher Sondervermögen aus Verträgen, die diesen AGB unterliegen, ist Nürnberg.<br>
        (5) Sollte eine Bestimmung dieser Geschäftsbedingungen unwirksam sein oder werden, so berührt dies die
        Wirksamkeit der restlichen Bestimmungen nicht. Vielmehr gilt an Stelle der unwirksamen Bestimmung eine
        entsprechende oder zumindest nahe kommende Ersatz-bestimmung, die die Parteien zur Erreichung des gleichen
        wirtschaftlichen Ergebnisses vereinbart hätten, wenn sie die Unwirksamkeit der Bestimmung gekannt hätten. Dies
        gilt bei Unvollständigkeit entsprechend.</p>
    </div>
  </div>
</div>
