<!--FÜR GROß KUNDEN -->
<form #f="ngForm" name="form" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-sm section3 vertical-horizontal-center">
        <a (click)="openInfoModal()" class="modalOpen-a">Wie funktioniert die Auftrags erstellung ?
          <img src="../../../../../assets/images/info.png" alt="Info" height="40"
               width="40" style="margin-left: 10px"><img></a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-4 col-sm">
        <fieldset>
          <h4 class="mv_heading">Absender</h4>
          <div class="form-group">
            <label for="absFirma">Firma / Name</label>
            <input type="text" class="form-control" id="absFirma" name="absFirma"
                   [(ngModel)]="sessionFirmenName"
                   #absFirma="ngModel" [ngClass]="{ 'is-invalid': f.submitted && absFirma.invalid }"
                   maxlength="75"
                   required>

            <div *ngIf="f.submitted && absFirma.invalid" class="invalid-feedback">
              <div *ngIf="absFirma.errors.required">Firma / Name wird benötigt.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Zusatz</label>
            <input type="text" class="form-control" name="absZusatz"
                   [(ngModel)]="sessionZusatz"
                   [ngClass]="{ 'is-invalid': f.submitted && absZusatz.invalid }"
                   maxlength="75"
                   #absZusatz="ngModel">
          </div>


          <div class="form-group">
            <label for="absAnsprechpartner">Ansprechpartner</label>
            <input type="text" class="form-control" id="absAnsprechpartner" name="absAnsprechpartner"
                   [(ngModel)]="sessionAnsprechpartner"
                   [ngClass]="{ 'is-invalid': f.submitted && absAnsprechpartner.invalid }"
                   maxlength="75"
                   #absAnsprechpartner="ngModel">
          </div>

          <div class="form-group">
            <label for="absAdresse">Adresse</label>
            <input type="text" class="form-control" id="absAdresse" name="absAdresse"
                   [(ngModel)]="sessionAdresse"
                   #absAdresse="ngModel" [ngClass]="{ 'is-invalid': f.submitted && absAdresse.invalid }"
                   maxlength="75"
                   required>
            <div *ngIf="f.submitted && absAdresse.invalid" class="invalid-feedback">
              <div *ngIf="absAdresse.errors.required">Adresse wird benötigt.</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm">
              <label for="absLand">Land</label>
              <select id="absLand" class="form-control" name="absLand"
                      ngModel
                      #absLand="ngModel"
                      [(ngModel)]="sessionLand || absLandSelected"
                      [ngClass]="{ 'is-invalid': f.submitted && absLand.invalid }"
                      required>
                <option>Deutschland</option>
                <option>Österreich</option>
                <option>Schweiz</option>
              </select>
              <div *ngIf="f.submitted && absLand.invalid" class="invalid-feedback">
                <div *ngIf="absLand.errors.required">Land wird benötigt.</div>
              </div>

            </div>
            <div class="form-group col-sm">
              <label for="absPlz">PLZ</label>
              <input type="text" class="form-control" id="absPlz" name="absPlz"
                     [(ngModel)]="sessionPlz"
                     #absPlz="ngModel" [ngClass]="{ 'is-invalid': f.submitted && absPlz.invalid }"
                     minlength="5"
                     maxlength="5"
                     pattern="[0-9]{5}"
                     required>
              <div *ngIf="f.submitted && absPlz.invalid" class="invalid-feedback">
                <div *ngIf="absPlz.errors.required">PLZ wird benötigt.</div>
                <div *ngIf="absPlz.errors.pattern">PLZ muss aus 5 Ziffern bestehen.</div>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="absOrt">Ort</label>
            <input type="text" class="form-control" id="absOrt" name="absOrt"
                   [(ngModel)]="sessionOrt"
                   #absOrt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && absOrt.invalid }"
                   maxlength="75"
                   required>

            <div *ngIf="f.submitted && absOrt.invalid" class="invalid-feedback">
              <div *ngIf="absOrt.errors.required">Ort wird benötigt.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="absTel">Telefon</label>
            <input type="text" class="form-control" id="absTel" name="absTel"
                   [(ngModel)]="sessionTelefon"
                   #absTel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && absTel.invalid }"
                   minlength="1"
                   maxlength="15"
                   pattern="(\(?([\d \-\)\–\+\/\(]+){5,}\)?([ .-–\/]?)([\d]+))"
                   required>
            <div *ngIf="f.submitted && absTel.invalid" class="invalid-feedback">
              <div *ngIf="absTel.errors.pattern">Bitte geben Sie eine gültige Telefonnummer an.</div>
              <div *ngIf="absTel.errors.required">Telefonnummer wird benötigt.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="absEmail">E-Mail Adresse</label>
            <input type="email"
                   class="form-control"
                   id="absEmail"
                   name="absEmail"
                   [(ngModel)]="sessionEmail"
                   #absEmail="ngModel"
                   minlength="1"
                   maxlength="50"
                   [ngClass]="{ 'is-invalid': f.submitted && absEmail.invalid }"
                   required email>

            <div *ngIf="f.submitted && absEmail.invalid"
                 class="invalid-feedback">
              <div *ngIf="absEmail.errors.required">E-Mail wird benötigt.</div>
              <div *ngIf="absEmail.errors.email">Bitte geben Sie eine gültige E-Mail Adresse an.
              </div>
            </div>
          </div>
        </fieldset>
        <!--</div>-->
      </div>
      <div class="col-md-4 col-sm">
        <fieldset>
          <h4 class="mv_heading">Empfänger</h4>
          <div class="form-group">
            <label for="empfFirma">Firma / Name</label>
            <input type="text" class="form-control" id="empfFirma" name="empfFirma"
                   ngModel
                   #empfFirma="ngModel" [ngClass]="{ 'is-invalid': f.submitted && empfFirma.invalid }"
                   maxlength="75"
                   required>

            <div *ngIf="f.submitted && empfFirma.invalid" class="invalid-feedback">
              <div *ngIf="empfFirma.errors.required">Firma / Name wird benötigt.</div>
            </div>

          </div>


          <div class="form-group">

            <label for="empfZusatz">Zusatz</label>
            <input type="text" class="form-control" id="empfZusatz" name="empfZusatz"
                   ngModel [ngClass]="{ 'is-invalid': f.submitted && empfZusatz.invalid }"
                   maxlength="75"
                   #empfZusatz="ngModel">
          </div>
          <div class="form-group">
            <label for="empfAnsprechpartner">Ansprechpartner</label>
            <input type="text" class="form-control" id="empfAnsprechpartner" name="empfAnsprechpartner"
                   ngModel [ngClass]="{ 'is-invalid': f.submitted && empfAnsprechpartner.invalid }"
                   maxlength="75"
                   #empfAnsprechpartner="ngModel"
                   [required]="checkEmpfAnsprechPartner(f)">
            <div *ngIf="f.submitted && empfAnsprechpartner.invalid" class="invalid-feedback">
              Ansprechpartner muss bei Persönlicher Zustellung ausgefüllt sein.
            </div>
          </div>

          <div class="form-group">
            <label for="empfAdresse">Adresse</label>
            <input type="text" class="form-control" id="empfAdresse" name="empfAdresse"
                   ngModel #empfAdresse="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && empfAdresse.invalid }"
                   maxlength="75"
                   required>
            <div *ngIf="f.submitted && empfAdresse.invalid" class="invalid-feedback">
              <div *ngIf="empfAdresse.errors.required">Adresse wird benötigt.</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm">
              <label for="empfLand">Land</label>
              <select id="empfLand" class="form-control" name="empfLand"
                      ngModel
                      #empfLand="ngModel"
                      [(ngModel)]="empfLandSelected"
                      [ngClass]="{ 'is-invalid': f.submitted && empfLand.invalid }"
                      required>
                <option>Deutschland</option>
                <option>Österreich</option>
                <option>Schweiz</option>
              </select>
              <div *ngIf="f.submitted && empfLand.invalid" class="invalid-feedback">
                <div *ngIf="empfLand.errors.required">Land wird benötigt.</div>
              </div>
            </div>
            <div class="form-group col-sm">
              <label for="empfPlz">PLZ</label>
              <input type="text" class="form-control" id="empfPlz" name="empfPlz"
                     ngModel #empfPlz="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && empfPlz.invalid }"
                     minlength="5"
                     maxlength="5"
                     pattern="[0-9]{5}"
                     required>
              <div *ngIf="f.submitted && empfPlz.invalid" class="invalid-feedback">
                <div *ngIf="empfPlz.errors.required">PLZ wird benötigt.</div>
                <div *ngIf="empfPlz.errors.pattern">PLZ muss aus 5 Ziffern bestehen.</div>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="empfOrt">Ort</label>
            <input type="text" class="form-control" id="empfOrt" name="empfOrt"
                   ngModel #empfOrt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && empfOrt.invalid }"
                   maxlength="75"
                   required>

            <div *ngIf="f.submitted && empfOrt.invalid" class="invalid-feedback">
              <div *ngIf="empfOrt.errors.required">Ort wird benötigt.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="empfTel">Telefon</label>
            <input type="text" class="form-control"
                   id="empfTel"
                   name="empfTel"
                   ngModel #empfTel="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && empfTel.invalid }"
                   minlength="1"
                   maxlength="15"
                   pattern="(\(?([\d \-\)\–\+\/\(]+){5,}\)?([ .-–\/]?)([\d]+))"
                   required>
            <div *ngIf="f.submitted && empfTel.invalid" class="invalid-feedback">
              <div *ngIf="empfTel.errors.pattern">Bitte geben Sie eine gültige Telefonnummer an.</div>
              <div *ngIf="empfTel.errors.required">Telefonnummer wird benötigt.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="empfEmail">E-Mail Adresse</label>
            <input type="email"
                   class="form-control"
                   id="empfEmail"
                   name="empfEmail"
                   ngModel
                   minlength="1"
                   maxlength="50"
                   #empfEmail="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && empfEmail.invalid }"
                   email>

            <div *ngIf="f.submitted && empfEmail.invalid"
                 class="invalid-feedback">
              <div *ngIf="empfEmail.errors.required">E-Mail wird benötigt.</div>
              <div *ngIf="empfEmail.errors.email">Bitte geben Sie eine gültige E-Mail Adresse an.
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 col-sm height">
        <div class="row">
          <div class="col-sm">
            <fieldset class="mv-fieldset-margin">
              <h4 class="mv_heading">Abholzeit</h4>
              <div class="row margin-bottom-15">
                <div class="col-sm-2 vertical-horizontal-center">
                  <img class="img" src="../../../../../assets/images/info.png" alt="Info" height="25"
                       width="25"><img>
                </div>
                <div class="col-sm-10">
                  <span class="mv-info-color margin-bottom-15">Bitte beachten Sie, dass wir im Falle einer erfolglosen Abholung eine Gebühr von 10€ berechnen müssen.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 vertical-center">
                  <label for="abholDatum">Aboldatum</label>
                </div>
                <div class="col-sm vertical-center">
                  <div class="form-group">
                    <p-calendar id="abholDatum"
                                [minDate]="minDate" [maxDate]="maxDate"
                                [readonlyInput]="true"
                                [disabledDays]="[6,0]"
                                [locale]="deAbholZeit"
                                [(ngModel)]="abholDatum1"
                                [showIcon]="true"
                                (onSelect)="onAbholDateChanged()"
                                name="abholDatum"
                                #abholDatum="ngModel"
                                required
                                dateFormat="dd.mm.yy"></p-calendar>

                    <div *ngIf="f.submitted && abholDatum.invalid"
                         class="invalid-feedback-calender">
                      <div *ngIf="abholDatum.errors.required">Abholdatum wird benötigt.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row pt-2">
                <div class="form-group col-sm">
                  <label for="abholZeitVon">Zeitfenster von </label>
                  <select id="abholZeitVon" class="form-control" name="abholZeitVon"
                          ngModel
                          #abholZeitVon="ngModel"
                          [(ngModel)]="abholZeitVon1"
                          [ngClass]="{ 'is-invalid': f.submitted && abholZeitVon.invalid }"
                          required>
                    <option value="08:00">08:00 Uhr</option>
                    <option value="09:00">09:00 Uhr</option>
                    <option value="10:00">10:00 Uhr</option>
                    <option value="11:00">11:00 Uhr</option>
                    <option value="12:00">12:00 Uhr</option>
                    <option value="13:00">13:00 Uhr</option>
                    <option value="14:00">14:00 Uhr</option>
                    <option value="15:00">15:00 Uhr</option>
                    <option value="16:00">16:00 Uhr</option>
                  </select>
                  <div *ngIf="f.submitted && abholZeitVon.invalid" class="invalid-feedback">
                    <div *ngIf="abholZeitVon.errors.required">Zeitfenster wird benötigt..</div>
                  </div>

                </div>

                <div class="form-group col-sm">
                  <label for="abholZeitBis">bis</label>
                  <select id="abholZeitBis" class="form-control" name="abholZeitBis"
                          ngModel
                          #abholZeitBis="ngModel"
                          [(ngModel)]="abholZeitBis1"
                          [ngClass]="{ 'is-invalid': f.submitted && abholZeitBis.invalid }"
                          required>
                    <option value="08:00">08:00 Uhr</option>
                    <option value="09:00">09:00 Uhr</option>
                    <option value="10:00">10:00 Uhr</option>
                    <option value="11:00">11:00 Uhr</option>
                    <option value="12:00">12:00 Uhr</option>
                    <option value="13:00">13:00 Uhr</option>
                    <option value="14:00">14:00 Uhr</option>
                    <option value="15:00">15:00 Uhr</option>
                    <option value="16:00">16:00 Uhr</option>
                  </select>
                  <div *ngIf="f.submitted && abholZeitBis.invalid" class="invalid-feedback">
                    <div *ngIf="abholZeitBis.errors.required">Zeitfenster wird benötigt..</div>
                  </div>

                </div>

              </div>

              <div *ngIf="abholErrorMessage" class="error-font">
                {{ abholErrorMessage }}
              </div>

              <div class="row">
                <div class="col-sm">
                  <h4 class="mv_heading sendungsdaten_h">Sendungsdaten</h4>

                  <div class="form-row">
                    <div class="form-group col-sm">
                      <label for="sendungsdatenArt">Art der Ware</label>
                      <select id="sendungsdatenArt" class="form-control"
                              name="sendungsdatenArt"
                              [(ngModel)]="artSelected"
                              #sendungsdatenArt="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && sendungsdatenArt.invalid }"
                              required>
                        <option selected>Waffe</option>
                        <option>Munition</option>
                        <option>Sonstiges</option>
                      </select>

                      <div *ngIf="f.submitted && sendungsdatenArt.invalid"
                           class="invalid-feedback">
                        <div *ngIf="sendungsdatenArt.errors.required">Art wird benötigt.</div>
                      </div>
                    </div>

                    <div class="form-group col-sm">
                      <label for="sendungsdatenGewicht">Gewicht</label>
                      <select name="sendungsdatenGewicht" id="sendungsdatenGewicht"
                              class="form-control"
                              [(ngModel)]="kiloSelected"
                              #sendungsdatenGewicht="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && sendungsdatenGewicht.invalid }"
                              required>
                        <option value="1">1,00 kg</option>
                        <option value="2">2,00 kg</option>
                        <option value="3" selected>3,00 kg</option>
                        <option value="4">4,00 kg</option>
                        <option value="5">5,00 kg</option>
                        <option value="6">6,00 kg</option>
                        <option value="7">7,00 kg</option>
                        <option value="8">8,00 kg</option>
                        <option value="9">9,00 kg</option>
                        <option value="10">10,00 kg</option>
                        <option value="11">11,00 kg</option>
                        <option value="12">12,00 kg</option>
                        <option value="13">13,00 kg</option>
                        <option value="14">14,00 kg</option>
                        <option value="15">15,00 kg</option>
                        <option value="16">16,00 kg</option>
                        <option value="17">17,00 kg</option>
                        <option value="18">18,00 kg</option>
                        <option value="19">19,00 kg</option>
                        <option value="20">20,00 kg</option>
                        <option value="21">21,00 kg</option>
                        <option value="22">22,00 kg</option>
                        <option value="23">23,00 kg</option>
                        <option value="24">24,00 kg</option>
                        <option value="25">25,00 kg</option>
                        <option value="26">26,00 kg</option>
                        <option value="27">27,00 kg</option>
                        <option value="28">28,00 kg</option>
                        <option value="29">29,00 kg</option>
                        <option value="30">30,00 kg</option>
                      </select>

                      <div *ngIf="f.submitted && sendungsdatenGewicht.invalid"
                           class="invalid-feedback">
                        <div *ngIf="sendungsdatenGewicht.errors.required">Gewicht wird benötigt.
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-sm">
                      <label for="sendungsdatenVers">Transport Vers.</label>
                      <select name="sendungsdatenVers"
                              id="sendungsdatenVers"
                              class="form-control"
                              [(ngModel)]="versicherungSelected"
                              #sendungsdatenVers="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && sendungsdatenVers.invalid }"
                              required>
                        <option>Ja</option>
                        <option>Nein</option>
                      </select>

                      <div *ngIf="f.submitted && sendungsdatenVers.invalid"
                           class="invalid-feedback">
                        <div *ngIf="sendungsdatenVers.errors.required">Transport Vers. wird
                          benötigt.
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="sendungsdatenWert">Wert in EUR</label>
                    <input type="text"
                           class="form-control"
                           name="sendungsdatenWert"
                           id="sendungsdatenWert"
                           minlength="1"
                           maxlength="12"
                           placeholder="0,00"
                           pattern="[0-9]{1,12}"
                           ngModel #sendungsdatenWert="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && sendungsdatenWert.invalid }">

                    <div *ngIf="f.submitted && sendungsdatenWert.invalid"
                         class="invalid-feedback">
                      <div *ngIf="sendungsdatenWert.errors.pattern">Wert darf nur aus Ziffern
                        bestehen
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

          </div>
        </div>


      </div>
      <div class="col-md-4 col-sm height">
        <fieldset>
          <h4 class="mv_heading">Zustelltermin</h4>
          <div class="row margin-bottom-25">
            <div class="col-sm-2 vertical-horizontal-center">
              <img class="img" src="../../../../../assets/images/info.png" alt="Info" height="25"
                   width="25"><img>
            </div>
            <div class="col-sm-10">
              <span class="mv-info-color">Standardzustelltermin = Ihre Sendung wird in der Regel am nächsten Werktag (Werktage bei uns Mo-Fr) bis 17 Uhr zugestellt.</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 vertical-center">
              <label for="zustellDatum">Zustelldatum</label>
            </div>
            <div class="col-sm vertical-center">
              <div class="form-group">
                <p-calendar
                  #myCalendar
                  id="zustellDatum"
                  [readonlyInput]="true"
                  [disabledDays]="[6,0]"
                  [(ngModel)]="zustellDatum1"
                  [locale]="deAbholZeit"
                  [showIcon]="true"
                  [minDate]="minDateZustell"
                  name="zustellDatum"
                  dateFormat="dd.mm.yy"
                ></p-calendar>
              </div>
            </div>
          </div>


          <div class="form-row pt-2">
            <div class="form-group col-sm">
              <label for="zustellZeitVon">Zeitfenster von </label>
              <select id="zustellZeitVon" class="form-control" name="zustellZeitVon"
                      #zustellZeitVon="ngModel"
                      [(ngModel)]="zustellZeitVon1"
                      [ngClass]="{ 'is-invalid': f.submitted && zustellZeitVon.invalid }"
                      required>
                <option value="08:00">08:00 Uhr</option>
                <option value="09:00">09:00 Uhr</option>
                <option value="10:00">10:00 Uhr</option>
                <option value="11:00">11:00 Uhr</option>
                <option value="12:00">12:00 Uhr</option>
                <option value="13:00">13:00 Uhr</option>
                <option value="14:00">14:00 Uhr</option>
                <option value="15:00">15:00 Uhr</option>
                <option value="16:00">16:00 Uhr</option>
              </select>
              <div *ngIf="f.submitted && zustellZeitVon.invalid" class="invalid-feedback">
                <div *ngIf="zustellZeitVon.errors.required">Zeitfenster wird benötigt..</div>
              </div>

            </div>

            <div class="form-group col-sm">
              <label for="zustellZeitBis">bis</label>
              <select id="zustellZeitBis" class="form-control" name="zustellZeitBis"
                      ngModel
                      #zustellZeitBis="ngModel"
                      [(ngModel)]="zustellZeitBis1"
                      [ngClass]="{ 'is-invalid': f.submitted && zustellZeitBis.invalid }"
                      required>
                <option value="08:00">08:00 Uhr</option>
                <option value="09:00">09:00 Uhr</option>
                <option value="10:00">10:00 Uhr</option>
                <option value="11:00">11:00 Uhr</option>
                <option value="12:00">12:00 Uhr</option>
                <option value="13:00">13:00 Uhr</option>
                <option value="14:00">14:00 Uhr</option>
                <option value="15:00">15:00 Uhr</option>
                <option value="16:00">16:00 Uhr</option>
              </select>
              <div *ngIf="f.submitted && zustellZeitBis.invalid" class="invalid-feedback">
                <div *ngIf="zustellZeitBis.errors.required">Zeitfenster wird benötigt..</div>
              </div>
            </div>
          </div>

          <div *ngIf="zustellErrorMessage" class="error-font">
            {{ zustellErrorMessage }}
          </div>

          <div class="form-row pt-2">
            <div class="form-group col-sm ">
              <input type="checkbox"
                     name="zustellNachnahme"
                     id="zustellNachnahme"
                     ngModel
                     #zustellNachnahme="ngModel"
                     [(ngModel)]="isZustellNachnahme"
                     (ngModelChange)="onZustellNachnahmeChange()">
              <label for="zustellNachnahme"> Nachnahme</label>
            </div>

            <div class="form-group col-sm">
              <label for="zustellNachnahmeWert">Wert in EUR</label>
              <input type="number"
                     class="form-control"
                     name="zustellNachnahmeWert"
                     id="zustellNachnahmeWert"
                     minlength="1"
                     maxlength="12"
                     max="2500"
                     placeholder="0,00"
                     pattern="[0-9]{1,12}"
                     ngModel
                     #zustellNachnahmeWert="ngModel"
                     [(ngModel)]="zustellNachnahmeWertModel"
                     [ngClass]="{ 'is-invalid': f.submitted && zustellNachnahmeWert.invalid }"
                     [disabled]="!isZustellNachnahme">

              <div *ngIf="f.submitted && zustellNachnahmeWert.invalid"
                   class="invalid-feedback">
                <div *ngIf="zustellNachnahmeWert.errors.pattern">Wert darf nur aus Ziffern bestehen und darf mindestens 12 Stellen enthalten.
                </div>
              </div>

              <div *ngIf="zustellNachnahmeErrorMessage" class="error-font">
                {{ zustellNachnahmeErrorMessage }}
              </div>

            </div>
          </div>
          <h4 class="mv_heading pt-2">Zustellungsart</h4>


          <div class="form-group">
            <select id="zustellArt"
                    class="form-control"
                    ngModel
                    [(ngModel)]="sonderdienstSelected"
                    name="zustellArt"
                    #zustellArt="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && zustellArt.invalid }"
                    required>
              <option value="standard">Standardzustellung</option>
              <option value="persoenlich">Persönliche Zustellung</option>
              <option value="persoenlichIdent">Persönliche Zustellung mit Ident</option>
            </select>

            <div *ngIf="f.submitted && checkZustellArtWithArtSendung(f)" class="error-font">
              Persönliche Zustellung ist erforderlich bei Waffen oder Munitionsversand.
            </div>
          </div>


        </fieldset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm">
        <fieldset>
          <h4 class="mv_heading">Auftragsbestätigung und Rechnung</h4>
          <div class="form-group">
            <label for="auftragbestEmail">E-Mail Adresse</label>
            <input type="email"
                   class="form-control"
                   id="auftragbestEmail"
                   name="auftragbestEmail"
                   ngModel
                   minlength="1"
                   maxlength="50"
                   [(ngModel)]="sessionEmail"
                   #auftragbestEmail="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && auftragbestEmail.invalid }"
                   required email>

            <div *ngIf="f.submitted && auftragbestEmail.invalid"
                 class="invalid-feedback">
              <div *ngIf="auftragbestEmail.errors.required">E-Mail wird benötigt.</div>
              <div *ngIf="auftragbestEmail.errors.email">Bitte geben Sie eine gültige E-Mail Adresse an
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="auftragbestTelefon">Telefon</label>
            <input type="text"
                   class="form-control"
                   id="auftragbestTelefon"
                   name="auftragbestTelefon"
                   ngModel
                   [(ngModel)]="sessionTelefon"
                   #auftragbestTelefon="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && auftragbestTelefon.invalid }"
                   minlength="1"
                   maxlength="15"
                   pattern="(\(?([\d \-\)\–\+\/\(]+){5,}\)?([ .-–\/]?)([\d]+))"
                   required>
            <div *ngIf="f.submitted && auftragbestTelefon.invalid" class="invalid-feedback">
              <div *ngIf="auftragbestTelefon.errors.pattern">Bitte geben Sie eine gültige Telefonnummer an.</div>
              <div *ngIf="auftragbestTelefon.errors.required">Telefon wird benötigt.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="auftragsbestRechnungsadresse">Rechnungsadresse</label>
            <select id="auftragsbestRechnungsadresse"
                    class="form-control"
                    name="auftragsbestRechnungsadresse"
                    ngModel
                    #auftragsbestRechnungsadresse="ngModel"
                    [(ngModel)]="rechnungSelected"
                    (change)="onOptionAuftragsBestChange($event.target.value)"
                    [ngClass]="{ 'is-invalid': f.submitted && auftragsbestRechnungsadresse.invalid }"
                    required>
              <option value="absender" selected>Wie Absender</option>
              <option value="empfeanger">Wie Empfänger</option>
              <option value="manuell">Manuelle Eingabe</option>
            </select>


            <div *ngIf="f.submitted && auftragsbestRechnungsadresse.invalid"
                 class="invalid-feedback">
              <div *ngIf="auftragsbestRechnungsadresse.errors.required">Rechnungsadresse wird benötigt.
              </div>
            </div>
          </div>

          <div *ngIf="shouldManuellDisplayed">
            <div class="form-group">
              <label for="rechnungName">Firma / Name</label>
              <input type="text" class="form-control" id="rechnungName" name="rechnungName"
                     ngModel
                     #rechnungName="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && rechnungName.invalid }"
                     maxlength="75"
                     required>

              <div *ngIf="f.submitted && rechnungName.invalid" class="invalid-feedback">
                <div *ngIf="rechnungName.errors.required">Firma / Name wird benötigt.</div>
              </div>

            </div>
            <div class="form-group">
              <label for="rechnungAdresse">Adresse</label>
              <input type="text" class="form-control" id="rechnungAdresse" name="rechnungAdresse"
                     ngModel
                     #rechnungAdresse="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && rechnungAdresse.invalid }"
                     maxlength="75"
                     required>
              <div *ngIf="f.submitted && rechnungAdresse.invalid" class="invalid-feedback">
                <div *ngIf="rechnungAdresse.errors.required">Adresse wird benötigt.</div>
              </div>
            </div>


            <div class="form-group">
              <label for="rechnungPlz">PLZ</label>
              <input type="text" class="form-control" id="rechnungPlz" name="rechnungPlz"
                     #rechnungPlz="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && rechnungPlz.invalid }"
                     ngModel
                     minlength="5"
                     maxlength="5"
                     pattern="[0-9]{5}"
                     required>
              <div *ngIf="f.submitted && rechnungPlz.invalid" class="invalid-feedback">
                <div *ngIf="rechnungPlz.errors.required">PLZ wird benötigt..</div>
                <div *ngIf="rechnungPlz.errors.pattern">PLZ muss aus 5 Ziffern bestehen.</div>
              </div>
            </div>

            <div class="form-group ">
              <label for="rechnungOrt">Ort</label>
              <input type="text" class="form-control" id="rechnungOrt" name="rechnungOrt"
                     #rechnungOrt="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && rechnungOrt.invalid }"
                     ngModel
                     maxlength="75"
                     required>

              <div *ngIf="f.submitted && rechnungOrt.invalid" class="invalid-feedback">
                <div *ngIf="rechnungOrt.errors.required">Ort wird benötigt.</div>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row pb-5">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm vertical-horizontal-center">
            <div class="form-check">

              <input type="checkbox"
                     id="check"
                     name="check"
                     #check="ngModel"
                     ngModel
                     class="form-check-input"
                     [ngClass]="{ 'is-invalid': f.submitted && check.invalid }"
                     required>
              <label for="check" class="form-check-label"><a routerLink="/national">AGB´s</a> und<a
                routerLink="/impressum"> Datenschutz</a> gelesen ?</label>
              <div *ngIf="f.submitted && check.invalid" class="invalid-feedback">
                <div *ngIf="check.errors.required">Information wird benötigt.</div>
              </div>

            </div>
          </div>
        </div>

        <div class="row" *ngIf="!f.valid && f.submitted || abholErrorMessage || zustellErrorMessage || zustellNachnahmeErrorMessage" class="error-font">
          <div class="col-sm vertical-horizontal-center">
            Bitte füllen Sie die Eingabemaske richtig und valide aus.
          </div>
        </div>
        <div class="row">
          <div class="col-sm vertical-horizontal-center">
            <button type="submit" id="mv-submit-button">Weiter <i class="fa fa-file"></i></button>
          </div>
        </div>

        <div class="row  ">
          <div class="col-sm vertical-horizontal-center">
            <span class="mv-info-color">*Eine Zusammenfassung wird erstellt.</span>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!--INFO-->
  <p-dialog header="Wie erstelle ich einen Online Auftrag?" [(visible)]="showDialog" [responsive]="true"
            showEffect="fade"
            [modal]="true" [draggable]="false">
    <ol>
      <li>Form ohne Fehler ausfüllen</li>
      <li> Auf <strong>Weiter</strong> drücken ... eine Zusammenfassung über Ihre eingegebenen Daten wird erstellt
      </li>
    </ol>
    <div class="vertical-horizontal-center pt-3">
      <img src="../../../../../assets/images/camel_zusammenfassung.png" height="400" width="400"/>
    </div>
    <br>
    Nachdem Sie auf <strong>Auftrag abschließen</strong> klicken wird Ihr Auftrag generiert.
    Sobald die Daten verarbeitet worden sind, werden Sie in kürze eine E-Mail (in Form angegeben) mit Ihrem
    Paketlabel
    erhalten.

    <h4 class="pt-3">Mit Benutzerkonto bei Camel-24</h4>
    Falls Sie sich entscheiden, sich bei uns anzumelden, können Sie erstellte Aufträge einsehen und die generierten
    Paketlabel jederzeit einsehen.
  </p-dialog>

  <!--SUCCESS-->
  <p-dialog header="Auftrag abschließen" [(visible)]="requestSuccessfully" [responsive]="true" showEffect="fade"
            [modal]="true" width="600" [draggable]="false" (onHide)="refreshPage()">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm no-p">
              <div class="section1 vertical-horizontal-center">
                <div [ngClass]="{ 'is-dummy-positioning': requestSuccessfully, 'd-flex': requestSuccessfully }">
                  <div [ngClass]="{ 'success-icon': requestSuccessfully }">
                    <div [ngClass]="{ 'success-icon__tip': requestSuccessfully }"></div>
                    <div [ngClass]="{ 'success-icon__long': requestSuccessfully }"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-sm no-p">
              <div class="section2">
                <div class="row pt-4">
                  <div class="col-sm vertical-horizontal-center">
                    <div class="alert alert-success" role="alert">
                      <strong>Erfolgreich:</strong> Sie haben einen Auftrag erstellt.
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-sm vertical-horizontal-center">
                    <p class="pl-5">Falls sie fragen haben kontaktieren Sie <a
                      href="mailto:info@Camel-24.de">info@Camel-24.de</a>.
                    </p>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-sm">
                    <div class="row pl-5 pr-5">
                      <div class="col-sm-1 vertical-horizontal-center">
                        <img src="../../../../../assets/images/info.png"
                             alt="Info" height="20"
                             width="20" style="margin-left: 10px"><img>
                      </div>
                      <div class="col-sm-11">
                        <span style="color: darkgrey;" class="text-align">Sie werden in kürze ein E-Mail mit weiteren Informationen über Ihren Auftrag erhalten.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>

  <!--ERROR-->
  <p-dialog header="Auftrag abschließen" [(visible)]="requestError" [responsive]="true" showEffect="fade"
            [modal]="true" width="600" [draggable]="false">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm no-p">
              <div class="section1 vertical-horizontal-center">
                <div class="ui-error">
                  <svg viewBox="0 0 87 87" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Group-2" transform="translate(2.000000, 2.000000)">
                        <circle id="Oval-2" stroke="rgba(252, 191, 191, .5)" stroke-width="4"
                                cx="41.5" cy="41.5"
                                r="41.5"></circle>
                        <circle [ngClass]="{ 'ui-error-circle': requestError }" stroke="#F74444"
                                stroke-width="4"
                                cx="41.5" cy="41.5" r="41.5"></circle>
                        <path [ngClass]="{ 'ui-error-line1': requestError }"
                              d="M22.244224,22 L60.4279902,60.1837662"
                              id="Line" stroke="#F74444" stroke-width="3"
                              stroke-linecap="square"></path>
                        <path [ngClass]="{ 'ui-error-line2': requestError }"
                              d="M60.755776,21 L23.244224,59.8443492"
                              id="Line" stroke="#F74444" stroke-width="3"
                              stroke-linecap="square"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-sm no-p">
              <div class="section2">
                <div class="row pt-4">
                  <div class="col-sm vertical-horizontal-center">
                    <div class="alert alert-danger" role="alert">
                      <strong>Fehlgeschlagen:</strong> Der Auftrag wurde nicht erstellt.
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-sm vertical-horizontal-center">
                    <p class="pl-5">Falls sie fragen haben kontaktieren Sie <a
                      href="mailto:info@Camel-24.de">info@Camel-24.de</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </p-dialog>
</form>
