<div class="container-fluid">
    <div class="row">
        <div class="col-sm no-p">
            <div id="section1overlay">
                <div id="section1underlay" class="text-align">
                    <!--LOGO-->
                    <div class="pt-5">
                        <h1 style="color: #ffc107">CAMEL - 24</h1>
                        <h3 style="font-weight: bold" class="pt-1">Transportvermittlung & Kurierdienst</h3>
                        <div class="pt-1">Ihr Transport<a style="color: #ffc107">CAMEL</a> für fast alles</div>
                    </div>
                    <img src="../../../../assets/images/delivery-truck.svg" height="300" width="200" class=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-align font" style="color: white">
        <div class="col-sm no-p" id="section2overlay" (click)="openInfo1()">
            <div id="section2underlay">
                <h3 class="pl-5 padding-h">Waffenversand</h3>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm">
                        <p class="padding-h" style="font-size: 20px">Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam </p>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
            </div>
        </div>
        <div class="col-sm no-p">
            <div id="section2underlay1">
                <div class="pt-6 animated infinite bounce delay-2s">
                    <img src="../../../../assets/images/day-and-night.png" height="128" width="128"/>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm">
                        <p class="padding-h2" style="font-size: 20px">Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam </p>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
            </div>
        </div>
        <div class="col-sm no-p">
            <div id="section2underlay2" (click)="openInfo2()">
                <h3 class=" padding-h">Wertversand</h3>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm">
                        <p class="padding-h" style="font-size: 20px">Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam </p>
                    </div>
                    <div class="col-sm-1"></div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm section3 vertical-horizontal-center">
            <svg id="more-arrows">
                <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
                <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
                <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
            </svg>
        </div>
    </div>

    <div class="row padding-top-bottom ">
        <div class="col-sm-2"></div>
        <div class="col-sm vertical-horizontal-center">
            <h5>Jetzt einen Auftrag erstellen</h5>
        </div>
        <div class="col-sm vertical-horizontal-center">
            <button type="button" routerLink="/auftrag" id="mv-submit-button">Auftrag <i class="fa fa-truck"></i>
            </button>
        </div>
        <div class="col-sm-2"></div>

    </div>
</div>

<!--INFO 1-->
<p-dialog header="Informationen Waffenversand"
          [(visible)]="showInfoModal1"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          width="650"
          [draggable]="false">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="heading_modal">Waffenversand – legal und sicher!</h5>
                <p>Für den Versand von Waffen und Munition ist der legale und absolut sichere Transfer unabdingbar. Der
                    Waffenversand
                    im KEP-System unterliegt strengsten Kontrollen und wird lückenlos dokumentiert.</p>
                <br>

                <p>Wir zählen Jäger, Händler, Sportschützen und Waffensammler zu unseren Kunden.</p>
                <br>

                <p> Wunsch bieten wir den Versand auch mit Identprüfung und weiteren Serviceleistungen aus dem Portfolio der KEP-AG
                    an. Für alle weiteren Informationen sowie eine Beratung über den Versand von Jagd- und Sportwaffen und Munition
                    kontaktieren Sie unsere E-Mail an <a
                            href="mailto:info@Camel-24.de">info@Camel-24.de</a>.</p>

            </div>
        </div>

        <div class="row pt-4">
            <div class="col-sm-2"></div>
            <div class="col-sm vertical-horizontal-center">
                <button type="button" routerLink="/auftrag" id="mv-submit-button">Auftrag erstellen  <i class="fa fa-truck"></i>
                </button>
            </div>
            <div class="col-sm-2"></div>

        </div>
    </div>



</p-dialog>

<!--INFO 2-->
<p-dialog header="Informationen Wertversand"
          [(visible)]="showInfoModal2"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          width="800"
          [draggable]="false">

</p-dialog>