<div class="container-fluid">
    <div class="row">
        <div class="col-sm no-p">
            <div id="section1overlay">
                <div id="section1underlay" class="text-align">
                    <!--LOGO-->
                    <div class="pt-5">
                        <h1 style="color: #ffc107">CAMEL - 24</h1>
                        <h3 style="font-weight: bold" class="pt-1">Transportvermittlung & Kurierdienst</h3>
                        <div class="pt-1">Ihr Transport<a style="color: #ffc107">CAMEL</a> für fast alles</div>
                    </div>
                    <img src="../../../../assets/images/delivery-truck.svg" height="300" width="200"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-align font" style="color: white">
        <div class="col-sm no-p" id="section2overlay">
            <div id="section2underlay">
                <h3 class="pt-6">Valorenversand</h3>
            </div>
        </div>
        <div class="col-sm no-p">
            <div id="section2underlay1">
                <h3 class="pt-6">Overnight Express</h3>
            </div>
        </div>
        <div class="col-sm no-p">
            <div id="section2underlay2">
                <h3 class="pt-6">Wertversand</h3>
            </div>
        </div>
    </div>
</div>