<div class="container-fluid">
  <div class="row">
    <div class="col-sm no-p">
      <div id="section1overlay">
        <div id="section1underlay" class="text-align">
          <!--LOGO-->
          <div class="pt-5">
            <h1 style="color: #ffc107">CAMEL - 24</h1>
            <h3 style="font-weight: bold" class="pt-1">Transportvermittlung & Kurierdienst</h3>
            <div class="pt-1">Ihr Transport<a style="color: #ffc107">CAMEL</a> für fast alles</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm no-p" id="section2overlay">
      <div id="section2underlay">
        <div class="pt-5 text-align">
          <h3 style="color: white">Unser Service</h3>
        </div>
    </div>
  </div>
</div>




