#splash {
  background: #ffc107;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%, 100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%, 110%);
  }
  30% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, -100%);
  }
}

#section1overlay {
  height: 70vh;
  width: 100%;
  background: #ffc107;
  font-family: 'Raleway', sans-serif;
}

.text-align {
  text-align: center;
}

#section1underlay {
  height: 70vh;
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 40%;
}

#section2overlay {
  height: 70vh;
  width: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: white;

}
.font {
  font-family: 'Raleway', sans-serif;
}
#section2underlay {
  height: 70vh;
  width: 100%;
  background: #ffc107;
  border-top-left-radius: 40%;
}

#section2underlay1 {
  height: 70vh;
  width: 100%;
  background: #ffc107;
}

#section2underlay2 {
  height: 70vh;
  width: 100%;
  background: #ffc107;
}

.section2heading {
  color: white;
}

.mv-tst {
  padding-top: 20%;
}

.pt-6 {
  padding-top: 5em !important;
}

#mv-submit-button {
  width: 250px !important;
  height: 50px !important;
  background: -moz-linear-gradient(right, #ffc107 0%, darkorange 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #ffc107 0%, darkorange 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #ffc107 0%, darkorange 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585dc9', endColorstr='#7db9e8', GradientType=1); /* IE6-9 */
  color: black;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}

#mv-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.padding-top-bottom {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}
.padding-h2 {
  padding-top: 25% !important;
}
.padding-h {
  padding-top: 30% !important;
}

.section3 {
  height: 80px !important;
  background:  #ffc107;/* FF3.6-15 */
  background:  #ffc107;/* Chrome10-25,Safari5.1-6 */
  background: #ffc107; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom-left-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
  margin-bottom: 50px;

  &:hover {

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }

    }

  }

}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5
  }

}