/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
html body {
  padding: 0!important;
  margin: 0 !important;
  top: 0 !important;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden !important;

}
.no-p {
  padding: 0!important;
  margin: 0 !important;
}
.h3_agb_impressum {
  color: #ffc107;
}

.modal-body {
  padding: 0 !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.register {
  background: -webkit-linear-gradient(left, darkorange, #ffc107);
}

.register-left {
  text-align: center;
  color: #fff;
  padding-top: 12%;
}

.login-left {
  text-align: center;
  color: #fff;
  padding-top: 5%;
}

.login-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register .register-form {
  padding: 0 5% 5% 5%;
}

.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #ffc107;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #ffc107;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}

.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
  border: none;
}

.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #ffc107;
  border: 2px solid #ffc107;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.register-heading {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 15px;
  color: #495057;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="select"]:focus {
  border: 1px solid #ffc107;
  box-shadow: 0 0 3px 1px #ffc107 !important;
}

.vertical-horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mv-submit-button {
  width: 200px;
  height: calc(2.25rem + 2px) !important;
  background: -moz-linear-gradient(left, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585dc9', endColorstr='#7db9e8', GradientType=1); /* IE6-9 */
  color: black;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}

#mv-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.heading_modal {
  color: #ffc107;
}

.padding-left {
  padding-left: 15px;
}

.section1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dummy-positioning {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


// The icon specifics
// Variables
$green:     #4cc93f;
$icon-base-size: 20px;

// Structure
.success-icon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: $icon-base-size;
  border-radius: 50%;
  border: 4px solid lighten($green, 20%);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}

// Elements
.success-icon {

  &__tip,
  &__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: lighten($green, 20%);
    border-radius: 10px;
  }

  &__tip {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;
  }

  &__long {
    width: 4em;
    transform: rotate(-45deg);
    top: 3.70em;
    left: 2.75em;
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;
  }

}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.6em;
  }
  to {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 5.1em;
    left: 3.2em;
  }
  to {
    width: 4em;
    top: 3.70em;
    left: 2.75em;
    visibility: visible;
  }
}

.mv-submit-button {
  width: 200px;
  height: calc(2.25rem + 2px) !important;
  background: -moz-linear-gradient(left, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffc107 0%, #e8a363 100%, #e8c998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585dc9', endColorstr='#7db9e8', GradientType=1); /* IE6-9 */
  color: black;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}

.mv-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.demo1 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-error {
  width: 100px; height: 100px;
  margin: 40px;
  // border:1px solid #eee;
}

.ui-error{
  &-circle{
    stroke-dasharray:260.75219024795285px, 260.75219024795285px;
    stroke-dashoffset: 260.75219024795285px;
    animation: ani-error-circle 1.2s linear;
  }
  &-line1{
    stroke-dasharray: 54px 55px;
    stroke-dashoffset: 55px;
    stroke-linecap: round;
    animation: ani-error-line .15s 1.2s linear both;
  }
  &-line2{
    stroke-dasharray: 54px 55px;
    stroke-dashoffset: 55px;
    stroke-linecap: round;
    animation: ani-error-line .2s .9s linear both;
  }
}

@keyframes ani-error-line{
  to { stroke-dashoffset: 0; }
}

@keyframes ani-error-circle {
  0% {
    stroke-dasharray: 0, 260.75219024795285px;
    stroke-dashoffset: 0;
  }
  35% {
    stroke-dasharray: 120px, 120px;
    stroke-dashoffset: -120px;
  }
  70% {
    stroke-dasharray: 0, 260.75219024795285px;
    stroke-dashoffset: -260.75219024795285px;
  }
  100% {
    stroke-dasharray: 260.75219024795285px, 0;
    stroke-dashoffset: -260.75219024795285px;
  }
}

*:focus {
  outline: none !important;
}
