<div class="container">
    <div class="row">
        <div class="col-sm pt-3">
            <div class="progress" data-percentage="100">
				<span class="progress-left">
					<span class="progress-bar"></span>
				</span>
                <span class="progress-right">
					<span class="progress-bar"></span>
				</span>
                <div class="progress-value">
                    <div>
                        {{ countData }}
                        <br>
                        <span>Regestrierte Benutzer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm pt-3 pb-5">
            <div class="card">
                <div class="card-header">
                    Camel-24 Benutzer
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control" id="identificationFilter"
                                       style="width: 100%"
                                       [(ngModel)]="filterKundenNummer"
                                       (change)="filterUsers()"
                                       minlength="1"
                                       maxlength="30"
                                       placeholder="Kundennummer">
                            </div>
                        </div>
                        <div class="col-sm">
                            <button type="button" (click)="filterUsers()" class="btn btn-success searchButton">Suchen
                                <span class="spinner-border spinner-border-sm"
                                      *ngIf="$httpLoader.isLoading | async"></span>
                            </button>
                        </div>
                    </div>
                    <p-table
                            [value]="$dashboard.users$ | async"
                            [paginator]="true"
                            [rows]="20"
                            selectionMode="single"
                            sortMode="multiple"
                    >
                        <ng-template pTemplate="header">
                            <tr style="text-align: center">
                                <th [pSortableColumn]="'kundenNummer'">
                                    KundenNummer
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'firstName'">
                                    Vorname
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'lastName'">
                                    Nachname
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'email'">
                                    E-Mail
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'email'">
                                    Anzahl erstelle Aufträge
                                    <p-sortIcon [field]=""></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr style="text-align: center;">
                                <td>{{ user.kundenNummer }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <button class="btm btn-light" routerLink="/order/{{user.kundenNummer}}">{{
                                        user.orderCount }}
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>


