<div class="modal-body">
    <div class="container register">

        <div class="row">
            <div class="col-sm">
                <p-messages [(value)]="msgs"></p-messages>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Herzlich Willkommen</h3>
                <p>Nach dem Registrieren können Sie unseren vollen Service nutzen</p>
            </div>
            <div class="col-md-9 register-right">
                <button type="button" class="close" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
                </button>
                <form #f="ngForm" name="form" (ngSubmit)="onRegister(f)" [mustMatch]="['passwort', 'passwortbest']"
                      novalidate>
                    <h3 class="register-heading">Bei Camel-24 registrieren</h3>
                    <div class="row register-form">
                        <div class="col-sm">
                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="vorname">Vorname</label>
                                    <input type="text" class="form-control" id="vorname" name="vorname"
                                           ngModel
                                           #vorname="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && vorname.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && vorname.invalid" class="invalid-feedback">
                                        <div *ngIf="vorname.errors.required">Vorname wird benötigt</div>
                                    </div>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="nachname">Nachname</label>
                                    <input type="text" class="form-control" id="nachname" name="nachname"
                                           ngModel
                                           #nachname="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && nachname.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && nachname.invalid" class="invalid-feedback">
                                        <div *ngIf="nachname.errors.required">Nachname wird benötigt</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="firmenname">Firmenname</label>
                                    <input type="text" class="form-control" id="firmenname" name="firmenname"
                                           ngModel
                                           #firmenname="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && firmenname.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && firmenname.invalid" class="invalid-feedback">
                                        <div *ngIf="firmenname.errors.required">Firmenname wird benötigt</div>
                                    </div>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="kundennummer">Kundennummer</label>
                                    <input type="text" class="form-control" id="kundennummer" name="kundennummer"
                                           ngModel
                                           #kundennummer="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && kundennummer.invalid }"
                                           pattern="[0-9]{5}"
                                           maxlength="5"
                                           required>
                                    <div *ngIf="f.submitted && kundennummer.invalid" class="invalid-feedback">
                                        <div *ngIf="kundennummer.errors.required">Kundennummer wird benötigt</div>
                                        <div *ngIf="kundennummer.errors.pattern">Bitte sie Ihre 5 stellige
                                            Kundennummer ein.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vorname">E-Mail</label>
                                <input type="text" class="form-control" id="email" name="email"
                                       ngModel
                                       #email="ngModel"
                                       [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                       maxlength="255"
                                       required>
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">E-Mail wird benötigt</div>
                                    <div *ngIf="email.errors.email">Bitte geben Sie eine gültige E-Mail ein</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="passwort">Passwort</label>
                                    <input type="password" class="form-control" id="passwort" name="passwort"
                                           ngModel
                                           #passwort="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && passwort.invalid }"
                                           minlength="6"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && passwort.invalid" class="invalid-feedback">
                                        <div *ngIf="passwort.errors.required">Passwort wird benötigt.</div>
                                        <div *ngIf="passwort.errors.minlength">Passwort muss mindestens aus 6 Zeichen
                                            bestehen.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="passwortbest">Passwort bestätigen</label>
                                    <input type="password" class="form-control" id="passwortbest"
                                           name="passwortbest"
                                           ngModel
                                           #passwortbest="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && passwortbest.invalid }"
                                           minlength="6"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && passwortbest.invalid" class="invalid-feedback">
                                        <div *ngIf="passwortbest.errors.required">Bestätigungs Passwort wird
                                            benötigt.
                                        </div>
                                        <div *ngIf="passwortbest.errors.minlength">Bestätigungs Passwort muss mindestens aus
                                            6 Zeichen bestehen.
                                        </div>
                                        <div *ngIf="passwortbest.errors.mustMatch">Passwörter stimmen nicht
                                            überein
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <h5>Standardauftragsdaten</h5>

                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="adresse">Adresse</label>
                                    <input type="text" class="form-control" id="adresse" name="adresse"
                                           ngModel
                                           #adresse="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && adresse.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && adresse.invalid" class="invalid-feedback">
                                        <div *ngIf="adresse.errors.required">Adresse wird benötigt.</div>
                                    </div>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="ort">Ort</label>
                                    <input type="text" class="form-control" id="ort"
                                           name="ort"
                                           ngModel
                                           #ort="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && ort.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && ort.invalid" class="invalid-feedback">
                                        <div *ngIf="ort.errors.required">Ort wird                                        benötigt.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="plz">Plz</label>
                                    <input type="text" class="form-control" id="plz" name="plz"
                                           ngModel
                                           #plz="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && plz.invalid }"
                                           minlength="5"
                                           maxlength="5"
                                           pattern="[0-9]{5}"                                           required>
                                    <div *ngIf="f.submitted && plz.invalid" class="invalid-feedback">
                                        <div *ngIf="plz.errors.required">Postleihzahl wird benötigt.</div>
                                        <div *ngIf="plz.errors.pattern">PLZ muss mindestens 5 Zeichen enthalten</div>
                                    </div>
                                </div>

                                <div class="form-group col-sm">
                                    <label for="land">Land</label>
                                    <select id="land"
                                            class="form-control"
                                            ngModel
                                            name="land"
                                            #land="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && land.invalid }"
                                            required>
                                        <option value="Deutschland">Deutschland</option>
                                        <option value="Österreich">Österreich</option>
                                        <option value="Schweiz">Schweiz</option>
                                    </select>


                                    <div *ngIf="f.submitted && land.invalid"
                                         class="invalid-feedback">
                                        <div *ngIf="land.errors.required">Land wird benötigt</div>
                                    </div>

                                </div>

                                <div class="form-group col-sm">
                                    <label for="telefon">Telefon</label>
                                    <input type="text" class="form-control" id="telefon"
                                           name="telefon"
                                           ngModel
                                           #telefon="ngModel"
                                           [ngClass]="{ 'is-invalid': f.submitted && telefon.invalid }"
                                           maxlength="255"
                                           required>
                                    <div *ngIf="f.submitted && telefon.invalid" class="invalid-feedback">
                                        <div *ngIf="telefon.errors.required">Telefonnummer wird benötigt</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mv-submit-container" class="vertical-horizontal-center ">
                            <div class="vertical-horizontal-center">
                                    <span class="invalid-feedback"
                                          *ngIf="errorMessageSignup">{{ errorMessageSignup }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="mv-submit-container" class="vertical-horizontal-center ">
                        <div class="vertical-horizontal-center">
                            <button type="submit" id="mv-submit-button">Registrieren</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
